/* 본고딕을 웹폰트로 선언하는 css 불러오기 */
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100..900&display=swap');

* {
    margin: 0;
    padding: 0;
}
body {
    font-family: "Noto Sans KR", sans-serif;

}
.wrapper {
    width: 1260px;
    margin: 0 auto;
}
h1 {
    color:#26c960;
    font-size: 20px;
    margin: 45px 0 10px 0; /* 위-오른쪽-아래-왼쪽 시계방향 */
}
p {
    color : #3d3d3d;
    font-size : 15px;
    letter-spacing: -0.05em;
    word-break: keep-all;
    margin: 0 0 45px 0;
}
.tit {
    font-size: 40px;
    color : #1d1d1d;
    font-weight: 700;
    line-height: 1.2;
    text-align: left;
}