@import url(default.css);
@import url(fonts.css);
@import url(common.css);

.boost {
    margin: 100vh 1vw 0 1vw;
}
.boost .tit .item {
    font-size: 3vw;
    font-weight: 900;
    line-height: 1.2;
    position: relative;
    white-space: nowrap; /* 무조건 한줄 > black_txt 두줄로 내려가는 것을 막음 */
}
.boost .tit .item .gray_txt {
    color: #ccc;

}
.boost .tit .item .black_txt {
    color: #1d1d1d;
    position: absolute;
    left: 0;
    top: 0;
    width: 0;
    overflow: hidden;
    transition: 1s;
}
.boost.active .tit .item .black_txt {
    width: 100%;
}
.boost .photo {
    margin-top: 29px;
    overflow: hidden;
    height: 394px;
}
.boost .photo img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.life {
    margin: 146px 0 0 0;
    text-align: center;
}
.life .tit strong {
    display: block;
    font-size: 24px;
    color: #666;
}
.life .tit h2 {
    font-size: 80px;
    font-weight: 900;
    color: #1d1d1d;
    margin: 28px 0 71px 0;
}
/* jquery로 넓이 제어 */
.life .photo_wrap .photo {
    overflow: hidden;
    border-radius: 20px;
    width: 404px;
    height: 533px;
    display: inline-block;
    transition: 1s;
    /* text-align:center로 정렬하게 하기 위해 */
}
.life.end .photo_wrap .photo {
    border-radius: 0;
}
.life .photo_wrap .photo img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.hanwha {
    margin: 520px 0 0 0;
}
.hanwha p {
    text-align: center;
    font-size: 80px;
    font-weight: 900;
    line-height: 1;
    margin: 30px 0;
    overflow: hidden;
    color: #1d1d1d;
    transition: 1s;
}
.hanwha p span {
    transform: translate(0, 100%);
    display: block;
    transition: 1s;
}
.hanwha.active p span {
    transform: translate(0, 0);
}
body {
    background-color: #fff;
    transition: 1s;
}
body.black_bg {
    background-color: #1d1d1d;
}
body.black_bg .hanwha p {
    color: #fff;
}

.nature {
    margin: 500px 0 0 0;
}
.nature .wrapper {
    position: relative;
}
.nature h2 {
    color: #fff;
    font-size: 100px;
    font-weight: 900;
    line-height: 1.1;
    position: absolute;
    left: 0;
    bottom: 0;
    transition: 1s;
    transform: translateY(0);
}
.nature .photo {
    border-radius: 40px;
    margin-left: 321px;
    overflow: hidden;
}
.nature .photo img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.paper {
    margin: 403px 0 1000px 0;
}
.paper .wrapper {
    display: flex;
    justify-content: space-between;
}
.paper h2 {
    color: #fff;
    font-size: 70px;
    font-weight: 900;
    line-height: 1.2;
}