/* header와 footer 처럼 페이지에 고통으로 배치되는 요소의 css */

.skipnav {
    position: absolute;
    left: 0;
    top: -100px;
    z-index: 99999999999999;
    width: 100%;
}

.skipnav a {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 50px;
    line-height: 50px;
    background-color: #4863EA;
    text-align: center;
    color: #fff;
}
.skipnav a:focus {
    top: 100px;
}

header {
    position: absolute;
    left: 5vw;
    top: 0;
    width: 90vw;
    height: 100px;
    content: "";
    z-index: 100;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: var(--color-white);
}
header .logo {
    width: 180px;
    height: 40px;
    position: relative;
}
header .logo a {
    display: block;
    width: 180px;
    height: 40px;
    font-size: 0;
    line-height: 0;
    position: absolute;
    left: 0;
    top: 0;
}
header .logo a::after {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    content: "";
    background: url(../images/common/logo_center.png) no-repeat center center / contain;
}
header .logo img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}
header .right {
    display: flex;
    align-items: center;
    font-family: "Pre_Bold";
    height: 100%;
}
header .right .gnb .gnb_open,
header .right .gnb .gnb_close {
    display: none;
}
header .right .gnb ul.depth1 {
    display: flex;
    font-size: 1.25rem;
}
header .right .gnb ul.depth1 > li > a {
    display: block;
    line-height: 100px;
    padding: 0 50px;
}


header .right .gnb ul.depth1 > li > ul.depth2 {
    display: none;
}

header .right .tnb {
    display: flex;
    align-items: center;
    margin-left: 50px;
    font-size: 1.063rem;
}
header .right .tnb a {
    display: block;
}
header .right .tnb a.lang {
    position: relative;
}
header .right .tnb a.lang::before {
    position: absolute;
    right: -25px;
    top: 50%;
    transform: translateY(-50%);
    width: 24px;
    height: 24px;
    content: "";
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;
    background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M12 12.6L15.9 8.69999C16.0833 8.51665 16.3167 8.42499 16.6 8.42499C16.8833 8.42499 17.1167 8.51665 17.3 8.69999C17.4833 8.88332 17.575 9.11665 17.575 9.39999C17.575 9.68332 17.4833 9.91665 17.3 10.1L12.7 14.7C12.6 14.8 12.4917 14.8708 12.375 14.9125C12.2583 14.9542 12.1333 14.975 12 14.975C11.8667 14.975 11.7417 14.9542 11.625 14.9125C11.5083 14.8708 11.4 14.8 11.3 14.7L6.7 10.1C6.51666 9.91665 6.425 9.68332 6.425 9.39999C6.425 9.11665 6.51666 8.88332 6.7 8.69999C6.88333 8.51665 7.11666 8.42499 7.4 8.42499C7.68333 8.42499 7.91666 8.51665 8.1 8.69999L12 12.6Z' fill='white'/%3E%3C/svg%3E%0A");
}
header .right .tnb a.pla {
    margin-left: 50px;
    padding: 5px 16px;
    border-radius: 20px;
    background-color: var(--color-white);
    color: var(--txt-main);
}























footer {
    height: 522px;
    background-color: var(--txt-main);
    color: var(--color-w60);
}
footer .wrapper {
    position: relative;
}
footer .family {
    position: absolute;
    right: 0;
    top: 103px;
    color: var(--txt-main);
}
footer .family button {
    padding: 7px 103px 7px 24px;
    background-color: var(--color-white);
    border-radius: 30px;
    position: relative;
}
footer .family button.family_open::before {
    position: absolute;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
    width: 24px;
    height: 24px;
    content: "";
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;
    background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M12 11.4002L8.09999 15.3002C7.91665 15.4835 7.68332 15.5752 7.39999 15.5752C7.11665 15.5752 6.88332 15.4835 6.69999 15.3002C6.51665 15.1169 6.42499 14.8835 6.42499 14.6002C6.42499 14.3169 6.51665 14.0835 6.69999 13.9002L11.3 9.3002C11.4 9.2002 11.5083 9.12936 11.625 9.08769C11.7417 9.04603 11.8667 9.02519 12 9.02519C12.1333 9.02519 12.2583 9.04603 12.375 9.08769C12.4917 9.12936 12.6 9.2002 12.7 9.30019L17.3 13.9002C17.4833 14.0835 17.575 14.3169 17.575 14.6002C17.575 14.8835 17.4833 15.1169 17.3 15.3002C17.1167 15.4835 16.8833 15.5752 16.6 15.5752C16.3167 15.5752 16.0833 15.4835 15.9 15.3002L12 11.4002Z' fill='%230F1012'/%3E%3C/svg%3E%0A");
}
footer .family.open button.family_open {
    display: none;
}
footer .family .family_close {
    display: none;
}
footer .family.open button.family_close {
    display: block;
}
footer .family.open button.family_close::before {
    background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M12 12.5998L15.9 8.6998C16.0833 8.51647 16.3166 8.4248 16.6 8.4248C16.8833 8.4248 17.1166 8.51647 17.3 8.6998C17.4833 8.88314 17.575 9.11647 17.575 9.3998C17.575 9.68314 17.4833 9.91647 17.3 10.0998L12.7 14.6998C12.6 14.7998 12.4916 14.8706 12.375 14.9123C12.2583 14.954 12.1333 14.9748 12 14.9748C11.8666 14.9748 11.7416 14.954 11.625 14.9123C11.5083 14.8706 11.4 14.7998 11.3 14.6998L6.69995 10.0998C6.51662 9.91647 6.42495 9.68314 6.42495 9.3998C6.42495 9.11647 6.51662 8.88314 6.69995 8.6998C6.88328 8.51647 7.11662 8.4248 7.39995 8.4248C7.68328 8.4248 7.91662 8.51647 8.09995 8.6998L12 12.5998Z' fill='%230F1012'/%3E%3C/svg%3E%0A");
}
footer .family.open ul {
    display: none;
    position: absolute;
    left: 0;
    bottom: 37px;
    width: 100%;
    background-color: var(--color-white);
    border: 1px solid var(--txt-main);
    border-radius: 30px;
    padding: 19px 24px;
}
footer .family ul li a {
    display: block;
    line-height: 2;
}
footer .f_logo {
    padding-top: 45px;
    margin-bottom: 25px;
    opacity: 0.2;
}
footer .f_nav  {
    margin-bottom: 38px;
}
footer .f_nav ul {
    display: flex;
}
footer .f_nav ul li {
    margin-right: 28px;
}
footer .f_info {
    margin-bottom: 64px;
}
footer .f_info address {
    margin-bottom: 6px;
}
footer .f_info address:last-child {
    margin-bottom: 0;
}
footer .copy {
    color: var(--color-w40);
}