@import url(default.css);
@import url(fonts.css);
@import url(common.css);

/*
(ex) 폰트 2개 : 제목에는 gmarket / 본문 pretendard
     body에는 본문 서체 적용 / 제목에는 서체 적용하는 방법
     1. css에서 해당하는 요소를 모두 선택 .biz h2 이렇게 각각 불러서 gmarket 서체 적용 (font-family:gmarket을 계속 선언)
     2. css를 하나를 만들어 둠
        예시 - .tit
        html에서 gmarket 서체를 써야하는 html 요소에
        <section class="biz">
            <h2 class="tit"><h2> <!--필요한 곳에 class명을 주는 방식-->
        </section>

.tit {
    font-family: 'GmarketSans', sans-serif; <!--sans-serif : 고딕 / Gmarket을 지원하지 않는 브라우저에서는 고딕을 지원하라는 요청 -->
    font-weight: 700
}
.tit_b {
     font-family: 'GmarketSans', sans-serif;
     font-weight: 500
}
*/
.tit_b {
    font-family: 'Pretendard', sans-serif;
    font-weight: 500
}

header {
    position: absolute; /* relitive를 따로 주지 않으면 body를 기준으로 정렬 */
    width: 100%; /* absolute는 inline 요소라서 width 설정값을 줘야 wrapper에 영향받음 */
    height: 100px;
    z-index: 100;
    /* position을 가지고 있는 요소들 중에서 제일 높은 숫자를 줘서 위에 배치함
       why? > 맨 앞에 두지 않으면 메뉴가 안눌림 */
    left: 0;
    top: 0;
    color: #fff;
}
header .wrapper {
    display: flex;
    justify-content: space-between;
}
header .logo {
    margin: 23px 0 0 0;
}
header .gnb_open {
    /* 모바일에서만 나타남 - pc에서는 숨김 */
    display: none;
} 
header .gnb .gnb_wrap ul {
    display: flex;
}
header .gnb .gnb_wrap ul li a {
    padding: 36px 40px;
    display: block;
    font-size: 20px;
    position: relative; /* after 정렬의 기준 */
}
header .gnb .gnb_wrap ul li a::after { /* a의 오른쪽 */
    position: absolute; /* a의 정렬의 기준 */
    right: 0;
    top: 50px;
    content: ""; /* after를 보 이게 하는 값 */
    width: 2px;
    height: 2px;
    border-radius: 50%;
    background-color: #d9d9d9;
}
/* 마지막 li의 a의 after 선택자를 숨김 */
header .gnb .gnb_wrap ul li:last-child a:after {
    display: none;
}
@media screen and (max-width:640px){
    header {
        height: 45px;
        border-bottom: 1px solid rgba(255,255,255,0.1);
    }
    header .logo {
        margin: 11px 0 0 0;
    }
    header .logo img {
        width: 73px;
        /* 이미지태그로 코딩한 요소는 사이즈가 변경되면
           반드시 css에서 img태그를 불러서 스타일을 줘야함
           감싸는 요소에 줘도 적용 안됨
           이미지는 넓이만 주면 높이는 알아서 조정됨 (background는 아님) */
    }
    header .gnb_open {
        /* 모바일에서 나타남. block, inline 요소 상관 없이 나오기만 하면 됨 */
        display: block;
        background: url(../images/gnb_open.svg) no-repeat center center;
        position: absolute; /* 이미 header에 position 값이 존재함 > header를 기준으로 정렬 */
        right: 0;
        top: 0;
        width: 45px;
        height: 45px;
        /* button의 사이즈를 크게 줘서 잘 눌리게 하려고 */
        font-size: 0;
        line-height: 0; /* font-size, height 글자 숨기기 (투명하게 처리하기도 함) */
    } 
    header .gnb .gnb_wrap {
        /* 메뉴는 열기 버튼을 클릭했을 때만 나옴 */
        display: none;
    }
}
.visual {
    background: url(../images/visual_bg.png) no-repeat center center / cover;
    color: #fff;
    height: 850px;
    text-align: center;
}
.visual h2 {
    font-weight: 300;
    font-size: 45px;
    line-height: 1.1;
    padding: 377px 0 0 0;
    margin: 0 0 1px 0;
}
.visual span {
    color: rgba(255,255,255,0.8);
}
@media screen and (max-width:640px){
    .visual {
        height: auto; /* 높이는 콘텐츠의 길이에 맞춰 알아서 들어감 */ padding: 0 0 158px 0;}
    .visual h2 {
        font-size: 20px; line-height: 1.1; padding: 198px 0 0 0;}
    .visual span {
        display: none; /* 숨김 */}
}
.biz {
    margin: 207px 0 0 0;
}
.biz .wrapper {
    display: flex;
    justify-content: space-between;
    /* flex로 정렬하면 좌우요소의 길이가 같아짐
       하지만 구현을 위해서 존재하는 만큼만 길이가 들어가야 함
       align-items을 주면 flex로 정렬된 요소들의 길이가 같아지는 현상이 사라짐 */
    align-items: flex-start;
}
.biz .subject {
    padding: 63px 0 0 85px;
    position: sticky;
    /* 나를 감싸는 요소의 길이 내부에서 스크롤되는 동안 상단에 고정으로 존재하는 것.
       감싸는 요소가 모두 스크롤되면 따라서 스크롤 됨.
       대부분 left를 잘 안주고 top만 줌(고정될 때 상단의 여백이 됨)
       단점 : 감싸는 요소 중에서 절대 overflow:hidden;이 존재하면 안됨
       -- wrap한테 무조건 overflow:hidden;을 줘야함.
       그래서 사용이 불가한 편이 많고 플러그 인으로 대체해서 사용함 */
    top: 0;

}
.biz .subject span {
    color: #1A44DC;
    font-weight: 500;
}
.biz .subject h2 {
    color: #1d1d1d;
    font-weight: 300;
    font-size: 45px;
    line-height: 1.1;
    margin: 0 56px 4px 0;
}
.biz .subject h2 .tit_b {
    font-weight: 500;
    font-size: 66px;
}
.biz .list {
    width: 832px;  
}
.biz .list ul {
    display: flex;
    flex-wrap: wrap;
    gap: 24px;
}
.biz .list ul li {
    width: 404px;
    color: #fff;
    border-radius: 50px;
    overflow: hidden; /* 넘치는 요소 삭제 */
}
.biz .list ul li:nth-child(odd) { /* odd : 홀수 선택자 / even : 짝수 선택자 */
    transform: translate(0, 98px);
    /* transform은 현재의 위치에서부터 요소를 움직이는데
    살짝 ablsolute처럼 다른 요소와 부딪치더라도 배치할 수 있음
    margin은 다른 요소와 중복되면 밀리는 현상이 발생하는데 transform:translate()로
    움직이는 것은 공간을 차지하지 않음. 기본적으로 모든 여백은 margin이고 margin으로 안되는 경우
    transform:translate를 사용
    transform은 나(해당 값)를 기준으로 함 */
}
.biz .list ul li a {
    height: 350px;
    display: block; /* height를 적용시키기 위한 값 */
    position: relative; /* h3의 정렬의 기준 */
}
.biz .list ul li a h3 {
    position: absolute; /* a를 기준으로 정렬 */
    font-weight: 500;
    font-size: 25px;
    left: 0;
    bottom: 35px;
    width: 100%; /* absolute는 넓이가 없으나, width:100%를 주면 기준 a와 넓이가 같아짐 */
    text-align: center;
}
.biz .list ul li a:hover h3 {
    bottom: 161px;/* 마우스 오버시 */
}
.biz .list ul li a .more {
    /* 복잡하게 코딩하는 이유는 모바일 레이아웃을 맞추기 위해 */

    /* 마우스 오버했을 때 보임
       - 미리 오버 스타일을 모두 가지고 있고,
         display로 보이는 상태만 조절하는 것이 좋음
         이렇게 해줘야 interactive 효과가 부드럽게 들어감 */
    display: none;
    color: rgba(255,255,255,0.8);
    position: absolute;
     /* left-transform 두 줄이 가운데 정렬 설정임 */
    left: 50%;
    transform: translate(-50%, 0);
    bottom: 134px;
    /* width: 100%;
    text-align: center; 이건 옆에 아이콘을 놓아야 해서 안됨 */
    padding-right: 18px; /* 오른쪽에 아이콘 들어갈 여백 */
}
.biz .list ul li a .photo::before { /* before와 afer는 그저 div가 하나 더 생기는 것 */
    display: none;
    position: absolute; /* a를 기준으로 정렬 */
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(26,68,220,0.9);
    content: ""; /*before를 존재하게하는 값. 이 값을 주지 않으면 before 요소가 나오지 않음 */
}
.biz .list ul li a:hover .photo::before { /* a에 오버했을 때 */
    display: block;
}
.biz .list ul li a .more::after {
    position: absolute; /* more을 기준으로 정렬. absolute라서 */
    right: 0;
    top: 0;
    width: 15px;
    height: 18px;
    background: url(../images/biz_more.svg) no-repeat center top 3px / contain;
    content: ""; /* after를 보이게 하는 값 */
}
.biz .list ul li a:hover .more { /* 오버시에 */
    display: block;
}
@media screen and (max-width:640px){
    .biz {margin: 45px 0 0 0;}
    .biz .wrapper {display: block;}
    .biz .subject {padding: 0; position: relative; top: auto; margin-bottom: 20px;}
    .biz .subject span {font-weight: 300;}
    .biz .subject p {display: none;}
    .biz .subject h2 {font-size: 30px;}
    .biz .subject h2 .tit_b {font-size: 44px;}
    .biz .list {width: auto; /* 넓이 고정값 해제 */}
    .biz .list ul {gap: 16px;}
    
    .biz .list ul li {
        width: calc(50% - 8px); color: #1d1d1d; border-radius: 10px; overflow: visible;
        /* overflow 해제
           길이만큼 늘어나게 모바일에서 사이즈가 줄어들면 제목이 2줄이 될 수도 있음*/
    }
    .biz .list ul li:nth-child(odd) {
        transform: translate(0, 0);
    }
    .biz .list ul li a {
        height: auto; /* 제목이 여러줄이 될 수도 있기 때문에 높이 제한 X */
    }
    .biz .list ul li a h3 {position: relative; /* absolute 해제 */ left: auto; bottom: auto; font-size: 15px; font-weight: 500; margin-top: 5px;}
    .biz .list ul li a:hover h3 {bottom: auto;}
    .biz .list ul li a .more {display: none;}
    .biz .list ul li a .photo {height: 132px; overflow: hidden; /* 넘치는 것 자르기 */ border-radius: 10px;}
    .biz .list ul li a .photo img {
        /* pc와 mobile에서 이미지의 비율이 다르게 보일 때
           img태그로 코딩한 이미지를 정해진 영역에 맞게 사이즈를 리사이즈해주는 코딩 */
        width: 100%; height: 100%; object-fit: cover;
    }
    .biz .list ul li a .photo::before {display: none;}
    .biz .list ul li a:hover .photo::before {display: none;}
    .biz .list ul li a .more::after { display: none;}
    .biz .list ul li a:hover .more {display: none;}
}

.new {background-color: #EEF1F5; margin: 306px 0 0 0; padding: 94px 0 144px 0;}
.new .wrapper {
    padding: 0 84px;
    position: relative; /* more 정렬의 기준 */
}
.new .subject strong {
    font-size: 20px;
    font-weight: 500;
    color: #1A44DC;
}
.new .subject h2 {
    font-size: 45px;
    color: #1d1d1d;
    margin: 0 0 45px 0;
}
.new .list ul {
    display: flex;
    justify-content: space-between;
    
}
.new .list ul li {
    width: 340px;
    align-items: center;
    padding: 0 0 0 8px;
    
}
.new .list ul li a {
    border-top: 2px solid #3d3d3d;
    width: 340px;
    display: block;
    padding: 0 0 0 8px;
}
.new .list ul li a:hover {
    border-top: 2px solid #1A44DC;
    /* border-image: linear-gradient(to right, #1A44DC 0%, #F596A7 100%); */
}
.new .list ul li a:hover h3 {
    color: #1A44DC;
}
.new .list ul li a:hover p{
    color: rgba(26,68,220,0.8)
} 
.new .list ul li a:hover span{
    color: rgba(26,68,220,0.8)
} 
.new .list ul li h3 {
    color: #1d1d1d;
    font-size: 20px;
    font-weight: 500;
    margin: 23px 0 19px 0;
    /* 무조건 2줄 - 절대 padding 주면 안됨 (설정값이 무너져서)
    line-height: 1.2;
    height: 2.4em; /* 행간 x 줄수 (단위 em) */
    text-overflow: ellipsis;
    overflow: hidden;
}
.new .list ul li p {
    line-height: 1.4;
    height: 4.2em;
    overflow: hidden;
    color: rgba(61,61,61,0.8);
    word-break: break-all;
}
.new .list ul li .date {
    color: rgba(61,61,61,0.6);
    margin: 34px 0 0 0;
    display: block;
}
.new .more {
    position: absolute;
    right: 84px;
    top: 90px;
}
.new .more a {
    color: #666;
    display: block;
    padding-right: 18px;
    position: relative; /* after 정렬의 기준 */
}
.new .more a::after {
    position: absolute; /* more를 기준으로 정렬 */
    right: 0;
    top: 0;
    width: 15px;
    height: 18px;
    background: url(../images/news_more_ico.svg) no-repeat center center / contain;
    cursor: pointer;
    padding-bottom: 3px;
    content: "";
}
.new .more a:hover {
    color: #1A44DC;
}
.new .more a:hover::after {
    background: url(../images/news_more_ho.svg) no-repeat center center / contain;
}
@media screen and (max-width:640px){
    .new {margin: 45px 0 0 0; padding: 45px 0 66px 0;}
    .new .wrapper {padding: 0;}

    .new .subject strong {font-size: 15px; font-weight: 300; color: #1A44DC; margin: 0 0 0 2px;}
    .new .subject h2 {font-size: 28px; margin: -5px 0 17px 0;}
    .new .list ul {display: block;
        /* flex 해제, inline/inline-block/block/none 등 flex 말고 다른 값을 주면
                      flex가 해제 - 그 중에 제일 해당 요소에 영향이 없는 block을 줌 */}
    .new .list ul li {width: auto; /* 넓이 고정 해제 - 원래 해당 태그 스타일대로(li=block태그라서 넓이 100%) 100%를 주면 margin 등의 여백을 줬을 때 사이즈가 늘어날 수 있음 */ align-items: left; padding: 0;}
    .new .list ul li a {border-top: 1px solid #EAEAEA; padding: 8px 0 0 0; width: auto;display: flex; flex-direction: column-reverse;}
    .new .list ul li:last-child a {border-bottom: 1px solid #EAEAEA;} /* 마지막 li의 a */
    .new .list ul li h3 {font-size: 16px; margin: 0 0 8px 0; text-overflow: ellipsis;overflow: hidden;}
    /* h3

       무조건 1줄 -> 줄제한 해제
       white-space: nowrap;
       text-overflow: ellipsis;
       overflow: hidden;

       무조건 2줄 -> 줄제한 해제
       white-space: wrap;
       overflow: visible;

       heeight: auto;
       overflow: visible;

       무조건 2줄 -> 1줄로 제한
       white-space: nowrap;
       height: auto;
       text-overflow: ellipsis;

    */
    .new .list ul li p {display: none;}
    .new .list ul li .date { margin: 0; font-size: 13px;}

    .new .more {position: relative; right: auto; top: auto; margin: 20px 0 0 0; text-align: center;}
    .new .more a {display: inline-block; padding-right: 17px;}
    .new .more a::after {width: 15px; height: 16px; padding-bottom: 2px;}
}

.webzine {
        font-weight: 300;
        
    }
.webzine .wrapper {padding: 0 83px 0 110px;}
.webzine .subject strong {
    color: #1A44DC;
    margin: 207px 0 0 0;
    display: block;
    font-weight: 500;
}
.webzine .subject h2 {
        color: #1d1d1d;
        font-weight: 300;
        font-size: 45px;
        line-height: 1.1;
        margin: 0 0 42px 0;
}
.webzine .list ul {
    display: flex;
    justify-content: space-between;
}
.webzine .list ul li {
    width: 340px;
}
/* 게시판에서 이미지를 가져오는 경우는 이미지의 사이즈가 다양함.
   이를 디자인한대로 동일한 사이즈로 리사이즈하는 방법
   1. 이미지를 감싸는 요소가 넓이와 높이, overflow:hidden을 가지고 있어야 함
   2. 이미지에는 width:100%, height:100%, object-fit:cover를 줘야함 */
.webzine .list ul li .photo {
    overflow: hidden;
    height: 377px;
}
.webzine .list ul li .photo img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    /* 감싸는 요소에 꽉 맞게 리사이징 - 위아래/좌우에 가운데 이미지 정렬 */
}
.webzine .list  ul li strong {
    color: #1A44DC;
    font-weight: 500;
    font-size: 20px;
}
.webzine .list ul li a {
    height: 504px;
    border-radius: 50px 50px 0 0;
    border: 1px solid #CCCCCC;
    display: block;
    overflow: hidden;
}


footer {
    height: 2000px;
}