@import url(default.css);
@import url(fonts.css);
@import url(common.css);

.biz {margin: 85px 0 0 0;}
.biz .tit h2 {color: #1d1d1d; font-size: 45px; font-weight: 700; text-align: center;}
.biz .list ul {display: flex; justify-content: space-between; gap: 24px; margin: 20px 0 0 0;}
.biz .list ul li a h3 {color: #1d1d1d; font-size: 25px; font-weight: 700; margin-bottom: 7px;}

@media screen and (max-width:640px){
    .biz {margin: 33px 0 0 0;}
    .biz .tit h2 {font-size: 25px; text-align: left;}
    .biz .list ul {flex-wrap: wrap; margin: 20px 0 0 0; gap: 16px;}
    .biz .list ul li {display: inline;  width: calc(50% - 8px);}
    /*
       반응형 이미지 사이즈 조절
       1. 감싸는 요소에 width: 100%
       2. 이미지 요소에 max-width 100%; height: auto;
    */
    .biz .list ul li .photo {width: 100%;}
    .biz .list ul li .photo img {max-width: 100%; height: auto; overflow: hidden;}
    .biz .list ul li a h3 {font-size: 18px; margin-bottom: 0;}
    .biz .list ul li a span {width: 152px; display: block;}
}

.tech {margin: 87px 0 0 0; background-color: #F4F4F4; height: 762px; color: #1d1d1d;}
.tech .tit h2 {color: #1d1d1d; font-size: 45px; font-weight: 700; text-align: center; padding: 80px 0 20px 0;}
.tech .list ul {display: flex; justify-content: space-between;}
.tech .list ul li {gap: 24px;}
.tech .list ul li .ino1 {background: url(../images/tech01.png) no-repeat center center / cover; width: 618px; height: 514px; display: block; color: #fff; text-align: center;}
.tech .list ul li .ino1 h2 {font-size: 35px; font-weight: 700; padding: 196px 0 12px 0;}
.tech .list ul li .ino1 span {width: 290px; display: block; margin-left: 164px; word-wrap: break-word;}
.tech .list ul li .ino2 {background: url(../images/tech02.png) no-repeat center center / cover; width: 618px; height: 514px; display: block; color: #fff; text-align: center;}
.tech .list ul li .ino2 h2 {font-size: 35px; font-weight: 700; padding: 196px 0 12px 0;}
.tech .list ul li .ino2 span {width: 290px; display: block; margin-left: 164px; word-wrap: break-word;}

@media screen and (max-width:640px){
    .tech {margin: 33px 0 0 0; height: auto; color: #1d1d1d;}
    .tech .tit h2 {color: #1d1d1d; font-size: 45px; font-weight: 700; text-align: center; padding: 80px 0 20px 0;}
    .tech .list ul {display: flex; justify-content: space-between;}
    .tech .list ul li {gap: 24px;}
    .tech .list ul li .ino1 {background: url(../images/tech01.png) no-repeat center center / cover; width: 618px; height: 514px; display: block; color: #fff; text-align: center;}
    .tech .list ul li .ino1 h2 {font-size: 35px; font-weight: 700; padding: 196px 0 12px 0;}
    .tech .list ul li .ino1 span {width: 290px; display: block; margin-left: 164px; word-wrap: break-word;}
    .tech .list ul li .ino2 {background: url(../images/tech02.png) no-repeat center center / cover; width: 618px; height: 514px; display: block; color: #fff; text-align: center;}
    .tech .list ul li .ino2 h2 {font-size: 35px; font-weight: 700; padding: 196px 0 12px 0;}
    .tech .list ul li .ino2 span {width: 290px; display: block; margin-left: 164px; word-wrap: break-word;}
}