body {
    background: #fff;
    margin: 0;
    padding: 0;
    font-family: "Regular", "Malgun Gothic", "맑은 고딕", Dotum, 돋움, Helvetica, "Apple SD Gothic Neo", "애플 SD 산돌고딕 Neo", sans-serif;
    font-size: 1rem;
    font-weight: 400;
    letter-spacing: -0.05em;
    line-height: 1.4;
    color: #3d3d3d;
    word-break: keep-all;
    word-wrap: break-word;
}


#wrap {
    min-width: 1300px;
}
.wrapper {
    width: 1260px;
    margin: 0 auto;
}
@media screen and (max-width:1259px){
    .wrapper {
        width: 100%;
        margin: 0 auto;
    }
}

::selection {
    background-color: #edebff;
    color: #111;
}

/*
    기본 20px 일 때
    48px - 3rem
    32px - 2rem
    24px - 1.5rem
    16px - 1rem
*/
:root {
    --color-main : #3327E8;
    --color-pro : #352AD4;
    --color-end : #3319D2;
    --color-white : #fff;
    --color-w80 : rgba(255,255,255,0.8);
    --color-w50 : rgba(255,255,255,0.5);
    --color-w15 : rgba(255,255,255,0.15);
    --color-w10 : rgba(255,255,255,0.1);
}