@import url(default.css);
@import url(fonts.css);
@import url(common.css);
@import url(layout.css);
.swiper {
    width: 100%;
    height: 100%; 
}
.swiper-wrapper {
    width: 100%;
    height: 100%;
    z-index: 1;
    display: flex;
    transition-property: transform;
    box-sizing: content-box;
}
section {
    height: 100vh;
}
.sec_port {
    position: relative;
    background: url(../images/main/portfolio_bg.png) no-repeat center center / cover;
}
.sec_port h2 {
    display: none;
}
.sec_port .photo {
    font-size: 0;
    line-height: 0;
    overflow: hidden;
    width: 590px;
    height: 265px;
    animation-name : fadein 1s;
    animation-timing-function : linear;
    -moz-animation: fadein 1s; /* Firefox */
    -webkit-animation: fadein 1s; /* Safari and Chrome */
    -o-animation: fadein 1s; /* Opera */
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}
@keyframes fadein {
    0% {opacity: 0; position: absolute; left: 50%; top: 55%; transform: translate(-50%, -45%);}
    100% {opacity: 100%; position: absolute; left: 50%; top: 50%; transform: translate(-50%, -50%);}
}
.sec_port .photo img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.deco {
    font-size: 0;
    line-height: 0;
    width: 100%;
    height: 100%;
}
.deco .star {
    background: url(../images/main/port_glitter.png) no-repeat center center / cover;
    position: absolute;
}
.deco .star1 {
    width: 56px;
    height: 56px;
    left: 30%;
    top: 14%;
    animation-name : star1 3s;
    animation-timing-function : linear;
    animation-iteration-count : infinite;
    animation-direction : normal;
    -moz-animation: star1 3s;
    -moz-animation-timing-function : linear;
    -moz-animation-iteration-count : infinite;
    -moz-animation-direction : normal;
    -webkit-animation: star1 3s;
    -webkit-animation-timing-function : linear;
    -webkit-animation-iteration-count : infinite;
    -webkit-animation-direction : normal;
    -o-animation: star1 3s;
    -o-animation-timing-function : linear;
    -o-animation-iteration-count : infinite;
    -o-animation-direction : normal;
}
@keyframes star1 {
    0% {opacity: 0;}
    50% {opacity: 1;}
    100% {opacity: 0;}
}
.deco .star2 {
    width: 47px;
    height: 47px;
    left: 20%;
    top: 55%;
    animation-name : star2 3s;
    animation-timing-function : linear;
    animation-iteration-count : infinite;
    animation-direction : normal;
    -moz-animation: star2 3s;
    -moz-animation-timing-function : linear;
    -moz-animation-iteration-count : infinite;
    -moz-animation-direction : normal;
    -webkit-animation: star2 3s;
    -webkit-animation-timing-function : linear;
    -webkit-animation-iteration-count : infinite;
    -webkit-animation-direction : normal;
    -o-animation: star2 3s;
    -o-animation-timing-function : linear;
    -o-animation-iteration-count : infinite;
    -o-animation-direction : normal;
}
@keyframes star2 {
    0% {opacity: 1;}
    50% {opacity: 0;}
    100% {opacity: 1;}
}
.deco .star3 {
    width: 58px;
    height: 58px;
    left: 24%;
    bottom: 15%;
    animation-name : star3 3s;
    animation-timing-function : linear;
    animation-iteration-count : infinite;
    animation-direction : normal;
    -moz-animation: star3 3s;
    -moz-animation-timing-function : linear;
    -moz-animation-iteration-count : infinite;
    -moz-animation-direction : normal;
    -webkit-animation: star3 3s;
    -webkit-animation-timing-function : linear;
    -webkit-animation-iteration-count : infinite;
    -webkit-animation-direction : normal;
    -o-animation: star3 3s;
    -o-animation-timing-function : linear;
    -o-animation-iteration-count : infinite;
    -o-animation-direction : normal;
}
@keyframes star3 {
    0% {opacity: 0.25;}
    25% {opacity: 0;}
    50% {opacity: 0.5;}
    70% {opacity: 1;}
    100% {opacity: 0.25;}
}
.deco .star4 {
    width: 58px;
    height: 58px;
    right: 17%;
    top: 9%;
    animation-name : star4 3s;
    animation-timing-function : linear;
    animation-iteration-count : infinite;
    animation-direction : normal;
    -moz-animation: star4 3s;
    -moz-animation-timing-function : linear;
    -moz-animation-iteration-count : infinite;
    -moz-animation-direction : normal;
    -webkit-animation: star4 3s;
    -webkit-animation-timing-function : linear;
    -webkit-animation-iteration-count : infinite;
    -webkit-animation-direction : normal;
    -o-animation: star4 3s;
    -o-animation-timing-function : linear;
    -o-animation-iteration-count : infinite;
    -o-animation-direction : normal;
}
@keyframes star4 {
    0% {opacity: 0.3;}
    25% {opacity: 0;}
    50% {opacity: 0.6;}
    70% {opacity: 1;}
    100% {opacity: 0.3;}
}
.deco .star5 {
    width: 56px;
    height: 56px;
    right: 28%;
    bottom: 27%;
    animation-name : star5 3s;
    animation-timing-function : linear;
    animation-iteration-count : infinite;
    animation-direction : normal;
    -moz-animation: star5 3s;
    -moz-animation-timing-function : linear;
    -moz-animation-iteration-count : infinite;
    -moz-animation-direction : normal;
    -webkit-animation: star5 3s;
    -webkit-animation-timing-function : linear;
    -webkit-animation-iteration-count : infinite;
    -webkit-animation-direction : normal;
    -o-animation: star5 3s;
    -o-animation-timing-function : linear;
    -o-animation-iteration-count : infinite;
    -o-animation-direction : normal;
}
@keyframes star5 {
    0% {opacity: 0;}
    50% {opacity: 1;}
    100% {opacity: 0;}
}
.deco .cir {
    border-radius: 50%;
    background-color: #fff;
    position: absolute;
}
.deco .cir1 {
    width: 16px;
    height: 16px;
    left: 25%;
    top: 40%;
    animation-name : cir1 5s;
    animation-timing-function : linear;
    animation-iteration-count : infinite;
    animation-direction : normal;
    -moz-animation: cir1 5s;
    -moz-animation-timing-function : linear;
    -moz-animation-iteration-count : infinite;
    -moz-animation-direction : normal;
    -webkit-animation: cir1 5s;
    -webkit-animation-timing-function : linear;
    -webkit-animation-iteration-count : infinite;
    -webkit-animation-direction : normal;
    -o-animation: cir1 5s;
    -o-animation-timing-function : linear;
    -o-animation-iteration-count : infinite;
    -o-animation-direction : normal;
}
@keyframes cir1 {
    0% {opacity: 0.5;}
    25% {opacity: 0;}
    75% {opacity: 0.9;}
    100% {opacity: 0.5;}
}
.deco .cir2 {
    width: 11px;
    height: 11px;
    left: 10%;
    top: 25%;
    animation-name : cir2 5s;
    animation-timing-function : linear;
    animation-iteration-count : infinite;
    animation-direction : normal;
    -moz-animation: cir2 5s;
    -moz-animation-timing-function : linear;
    -moz-animation-iteration-count : infinite;
    -moz-animation-direction : normal;
    -webkit-animation: cir2 5s;
    -webkit-animation-timing-function : linear;
    -webkit-animation-iteration-count : infinite;
    -webkit-animation-direction : normal;
    -o-animation: cir2 5s;
    -o-animation-timing-function : linear;
    -o-animation-iteration-count : infinite;
    -o-animation-direction : normal;
}
@keyframes cir2 {
    0% {opacity: 0;}
    25% {opacity: 0.3;}
    75% {opacity: 0.7;}
    100% {opacity: 0;}
}
.deco .cir3 {
    width: 11px;
    height: 11px;
    right: 25%;
    top: 48%;
    animation-name : cir3 5s;
    animation-timing-function : linear;
    animation-iteration-count : infinite;
    animation-direction : normal;
    -moz-animation: cir3 5s;
    -moz-animation-timing-function : linear;
    -moz-animation-iteration-count : infinite;
    -moz-animation-direction : normal;
    -webkit-animation: cir3 5s;
    -webkit-animation-timing-function : linear;
    -webkit-animation-iteration-count : infinite;
    -webkit-animation-direction : normal;
    -o-animation: cir3 5s;
    -o-animation-timing-function : linear;
    -o-animation-iteration-count : infinite;
    -o-animation-direction : normal;
}
@keyframes cir3 {
    0% {opacity: 0.7;}
    25% {opacity: 1;}
    75% {opacity: 0;}
    100% {opacity: 0.7;}
}
.deco .cir4 {
    width: 16px;
    height: 16px;
    right: 18%;
    bottom: 20%;
    animation-name : cir4 5s;
    animation-timing-function : linear;
    animation-iteration-count : infinite;
    animation-direction : normal;
    -moz-animation: cir4 5s;
    -moz-animation-timing-function : linear;
    -moz-animation-iteration-count : infinite;
    -moz-animation-direction : normal;
    -webkit-animation: cir4 5s;
    -webkit-animation-timing-function : linear;
    -webkit-animation-iteration-count : infinite;
    -webkit-animation-direction : normal;
    -o-animation: cir4 5s;
    -o-animation-timing-function : linear;
    -o-animation-iteration-count : infinite;
    -o-animation-direction : normal;
}
@keyframes cir4 {
    0% {opacity: 0;}
    25% {opacity: 0.9;}
    75% {opacity: 0.25;}
    100% {opacity: 0;}
}


@media screen and (max-width:1599px){
    .sec_port .photo {
        height: 521px;
    }
    .sec_port .photo img {
        vertical-align:middle
    }





    
    .deco .star1 {
        width: 56px;
        height: 56px;
        left: 30%;
        top: 14%;
        animation-name : star1 3s;
        animation-timing-function : linear;
        animation-iteration-count : infinite;
        animation-direction : normal;
        -moz-animation: star1 3s;
        -moz-animation-timing-function : linear;
        -moz-animation-iteration-count : infinite;
        -moz-animation-direction : normal;
        -webkit-animation: star1 3s;
        -webkit-animation-timing-function : linear;
        -webkit-animation-iteration-count : infinite;
        -webkit-animation-direction : normal;
        -o-animation: star1 3s;
        -o-animation-timing-function : linear;
        -o-animation-iteration-count : infinite;
        -o-animation-direction : normal;
    }
    .deco .star2 {
        width: 47px;
        height: 47px;
        left: 20%;
        top: 55%;
        animation-name : star2 3s;
        animation-timing-function : linear;
        animation-iteration-count : infinite;
        animation-direction : normal;
        -moz-animation: star2 3s;
        -moz-animation-timing-function : linear;
        -moz-animation-iteration-count : infinite;
        -moz-animation-direction : normal;
        -webkit-animation: star2 3s;
        -webkit-animation-timing-function : linear;
        -webkit-animation-iteration-count : infinite;
        -webkit-animation-direction : normal;
        -o-animation: star2 3s;
        -o-animation-timing-function : linear;
        -o-animation-iteration-count : infinite;
        -o-animation-direction : normal;
    }
    .deco .star3 {
        width: 58px;
        height: 58px;
        left: 24%;
        bottom: 15%;
        animation-name : star3 3s;
        animation-timing-function : linear;
        animation-iteration-count : infinite;
        animation-direction : normal;
        -moz-animation: star3 3s;
        -moz-animation-timing-function : linear;
        -moz-animation-iteration-count : infinite;
        -moz-animation-direction : normal;
        -webkit-animation: star3 3s;
        -webkit-animation-timing-function : linear;
        -webkit-animation-iteration-count : infinite;
        -webkit-animation-direction : normal;
        -o-animation: star3 3s;
        -o-animation-timing-function : linear;
        -o-animation-iteration-count : infinite;
        -o-animation-direction : normal;
    }
    .deco .star4 {
        width: 58px;
        height: 58px;
        right: 17%;
        top: 9%;
        animation-name : star4 3s;
        animation-timing-function : linear;
        animation-iteration-count : infinite;
        animation-direction : normal;
        -moz-animation: star4 3s;
        -moz-animation-timing-function : linear;
        -moz-animation-iteration-count : infinite;
        -moz-animation-direction : normal;
        -webkit-animation: star4 3s;
        -webkit-animation-timing-function : linear;
        -webkit-animation-iteration-count : infinite;
        -webkit-animation-direction : normal;
        -o-animation: star4 3s;
        -o-animation-timing-function : linear;
        -o-animation-iteration-count : infinite;
        -o-animation-direction : normal;
    }
    .deco .star5 {
        width: 56px;
        height: 56px;
        right: 28%;
        bottom: 27%;
        animation-name : star5 3s;
        animation-timing-function : linear;
        animation-iteration-count : infinite;
        animation-direction : normal;
        -moz-animation: star5 3s;
        -moz-animation-timing-function : linear;
        -moz-animation-iteration-count : infinite;
        -moz-animation-direction : normal;
        -webkit-animation: star5 3s;
        -webkit-animation-timing-function : linear;
        -webkit-animation-iteration-count : infinite;
        -webkit-animation-direction : normal;
        -o-animation: star5 3s;
        -o-animation-timing-function : linear;
        -o-animation-iteration-count : infinite;
        -o-animation-direction : normal;
    }
    .deco .cir {
        border-radius: 50%;
        background-color: #fff;
        position: absolute;
    }
    .deco .cir1 {
        width: 16px;
        height: 16px;
        left: 25%;
        top: 40%;
        animation-name : cir1 5s;
        animation-timing-function : linear;
        animation-iteration-count : infinite;
        animation-direction : normal;
        -moz-animation: cir1 5s;
        -moz-animation-timing-function : linear;
        -moz-animation-iteration-count : infinite;
        -moz-animation-direction : normal;
        -webkit-animation: cir1 5s;
        -webkit-animation-timing-function : linear;
        -webkit-animation-iteration-count : infinite;
        -webkit-animation-direction : normal;
        -o-animation: cir1 5s;
        -o-animation-timing-function : linear;
        -o-animation-iteration-count : infinite;
        -o-animation-direction : normal;
    }
    .deco .cir2 {
        width: 11px;
        height: 11px;
        left: 10%;
        top: 25%;
        animation-name : cir2 5s;
        animation-timing-function : linear;
        animation-iteration-count : infinite;
        animation-direction : normal;
        -moz-animation: cir2 5s;
        -moz-animation-timing-function : linear;
        -moz-animation-iteration-count : infinite;
        -moz-animation-direction : normal;
        -webkit-animation: cir2 5s;
        -webkit-animation-timing-function : linear;
        -webkit-animation-iteration-count : infinite;
        -webkit-animation-direction : normal;
        -o-animation: cir2 5s;
        -o-animation-timing-function : linear;
        -o-animation-iteration-count : infinite;
        -o-animation-direction : normal;
    }
    .deco .cir3 {
        width: 11px;
        height: 11px;
        right: 25%;
        top: 48%;
        animation-name : cir3 5s;
        animation-timing-function : linear;
        animation-iteration-count : infinite;
        animation-direction : normal;
        -moz-animation: cir3 5s;
        -moz-animation-timing-function : linear;
        -moz-animation-iteration-count : infinite;
        -moz-animation-direction : normal;
        -webkit-animation: cir3 5s;
        -webkit-animation-timing-function : linear;
        -webkit-animation-iteration-count : infinite;
        -webkit-animation-direction : normal;
        -o-animation: cir3 5s;
        -o-animation-timing-function : linear;
        -o-animation-iteration-count : infinite;
        -o-animation-direction : normal;
    }
    .deco .cir4 {
        width: 16px;
        height: 16px;
        right: 18%;
        bottom: 20%;
        animation-name : cir4 5s;
        animation-timing-function : linear;
        animation-iteration-count : infinite;
        animation-direction : normal;
        -moz-animation: cir4 5s;
        -moz-animation-timing-function : linear;
        -moz-animation-iteration-count : infinite;
        -moz-animation-direction : normal;
        -webkit-animation: cir4 5s;
        -webkit-animation-timing-function : linear;
        -webkit-animation-iteration-count : infinite;
        -webkit-animation-direction : normal;
        -o-animation: cir4 5s;
        -o-animation-timing-function : linear;
        -o-animation-iteration-count : infinite;
        -o-animation-direction : normal;
    }
}





























.sec_pro {
    background-color: var(--color-pro);
}
.sec_pro .wrapper {
    display: flex;
    padding-top: 5%;
}
.sec_pro .me {
    width: 509px;
    text-align: center;
}
.sec_pro .me .cnt {
    width: 392px;
}
.sec_pro .me .cnt .photo {
    width: 392px;
    height: 437px;
    font-size: 0;
    line-height: 0;
    overflow: hidden;
    margin-bottom: 28px;
}
.sec_pro .me .cnt .photo img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}
.sec_pro .me .cnt .name {
    font-family: "ExtraBold";
    font-size: 2.4rem;
    line-height: 1;
    margin-bottom: 9px;
}
.sec_pro .me .cnt span {
    display: block;
    font-family: "light";
    color: var(--color-w80);
}
.sec_pro .me .cnt strong {
    display: block;
    line-height: 1;
    font-family: "Medium";
    font-size: 1.6rem;
    margin-bottom: 15px;
}
.sec_pro .me .cnt strong.birth {
    margin-top: 48px;
}
@media screen and (max-width:1599px){
    .sec_pro .me {
        width: 314px;
    }
    .sec_pro .me .cnt .photo {
        width: 313px;
        height: 349px;
    }
}










.sec_fir {
    background: url(../images/main/first_bg.png) no-repeat center center / cover;
}













.sec_sec {
    background: url(../images/main/second_bg.png) no-repeat center center / cover;
}
.sec_thi {
    background: url(../images/main/third_bg.png) no-repeat center center / cover;
}















.page {
    position: fixed;
    right: 74px;
    bottom: 27%;
    z-index: 9999;
    color: #fff;
    text-align: right;
}
.page ul li a {
    font-family: "Regular";
    color: var(--color-w50);
    display: block;
    margin-bottom: 59px;
    padding-right: 42px;
    position: relative;
}
.page ul li:last-child a {
    margin-bottom: 0;
}
.page ul li a:hover,
.page ul li.active a {
    font-family: "SemiBold";
    color: var(--color-white);
}

.page ul li a::after {
    position: absolute;
    right: 5px;
    top: 8px;
    background-color: var(--color-white);
    width: 1px;
    height: 77px;
    content: "";
}
.page ul li:last-child a::after {
    display: none;
}
.page ul li a::before {
    position: absolute;
    top: 4px;
    right: 0px;
    border-radius: 100%;
    width: 12px;
    height: 12px;
    background-color: var(--color-white);
    content: "";
}
.page ul li a span::after {
    position: absolute;
    top: 46%;
    right: 0;
    width: 32px;
    height: 1px;
    background-color: var(--color-white);
    content: "";
}
.page ul li.active a span::before,
.page ul li a:hover span::before {
    position: absolute;
    top: 8px;
    right: 27px;
    border-radius: 100%;
    width: 7px;
    height: 7px;
    background-color: var(--color-white);
    content: "";
}
@media screen and (max-width:1200px){
    .page {
        right: 74px;
        bottom: 27%;
        z-index: 9999;
    }
}