/* 폰트스타일 선언 */
@font-face {
    font-family: 'Pretendard';
    font-weight: 400;
    font-display: swap;
    src: local('Pretendard Regular'), url(../fonts/Pretendard-Regular.woff2) format('woff2'), url(폰트경로/Pretendard-Regular.woff) format('woff');
}
@font-face {
    font-family: 'HS';
    font-weight: 400;
    src: local('HSSanTokki20-Regular'), url(../fonts/HSSanTokki20-Regular.woff2) format('woff2');
    font-style: normal;
}
@font-face {
    font-family: 'Noto';
    font-weight: 700;
    src: local('NotoSans-Bold'), url(../fonts/NotoSans-Bold.woff2) format('woff2'), url(../fonts/NotoSans-Bold.woff) format('woff');
    font-style: normal;
}