@import url(default.css);
@import url(fonts.css);
@import url(common.css);
@import url(layout.css);

@media screen and (min-width:1301px){
    .visual {
        background: url(../images/visual_bg.png) no-repeat center center / cover;
        height: 1000px;
    }
    .visual .tit {
        text-align: center;
        color: var(--color-white);
    }
    .visual .tit h2 {
        font-family: "Antic Didone", serif;
        font-size: 4.667rem;
        line-height: 1.2;
        padding-top: 50vh;
    }
    .visual .tit p {
        color: var(--color-w80);
    }

    .visual .reservation {
        position: absolute;
        left: 50%;
        top: 821px;
        transform: translateX(-50%);
        width: 1080px;
        height: 80px;
        z-index: 99;
        display: flex;
        background-color: var(--color-white);
        color: var(--txt-main);
        font-family: "Pre_Bold";
    }
    .visual .reservation a {
        display: block;
        width: 180px;
        position: relative;
        cursor: pointer;
    }
    .visual .reservation a::after {
        position: absolute;
        right: 18px;
        top: 50%;
        transform: translateY(-50%);
        width: 24px;
        height: 24px;
        content: "";
        background-position: center center;
        background-repeat: no-repeat;
        background-size: contain;
        background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M12 12.6L16.6 8L18 9.4L12 15.4L6 9.4L7.4 8L12 12.6Z' fill='%23111111'/%3E%3C/svg%3E%0A");
    }
    .visual .reservation a::before {
        position: absolute;
        right: 0;
        top: 0;
        width: 1px;
        height: 80px;
        content: "";
        background-color: var(--txt-main-20);
    }
    .visual .reservation a:last-child::before {
        display: none;
    }
    .visual .reservation a h2 {
        font-weight: 700;
        font-size: 1.133rem;
        color: var(--txt-main);
        padding: 15px 0 0 18px;
        margin-bottom: 8px;
        line-height: 1.2;
    }
    .visual .reservation a strong {
        font-family: "Pre_Regul";
        font-weight: 400;
        color: var(--color-g80);
        padding: 0 0 0 18px;
        font-weight: 400;
    }
    .visual .reservation button {
        display: block;
        width: 180px;
        background-color: var(--txt-main);
    }
    .visual .reservation button span {
        color: var(--color-white);
        font-size: 1.333rem;
    }

    .rest {
        display: flex;
        flex-direction: row-reverse;
        margin-top: 317px;
        background-color: var(--color-main);
        color: var(--color-white);
        width: 100%;
        height: 581px;
    }
    .rest .txt {
        width: 33%;
        margin: 0 3%;
    }
    .rest .txt .tit {
        padding: 48px 0 50px 0;
    }
    .rest .tit h2 {
        font-family: "Antic Didone", serif;
        font-size: 3.333rem;
        margin-bottom: 5px;
    }
    .rest .tit p {
        color: var(--color-w80);
    }
    .rest .txt .more a {
        display: block;
        font-size: 0;
        line-height: 0;
        width: 46px;
        height: 46px;
        position: relative;
        left: 0;
        bottom: -173px;
    }
    .rest .txt .tab_txt {
        display: flex;
    }
    .rest .txt .tab_txt {
        margin-bottom: 16px;
    }
    .rest .txt .tab_txt button {
        margin-right: 0 24px;
    }
    .rest .txt .more a::before {
        position: absolute;
        left: 0;
        bottom: 0;
        width: 100%;
        height: 100%;
        content: "";
        background-position: center center;
        background-repeat: no-repeat;
        background-size: cover;
        background-image: url("data:image/svg+xml,%3Csvg width='46' height='46' viewBox='0 0 46 46' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Crect x='0.5' y='0.5' width='45' height='45' rx='22.5' stroke='white' stroke-opacity='0.6'/%3E%3Cpath d='M24.6 23L20 18.4L21.4 17L27.4 23L21.4 29L20 27.6L24.6 23Z' fill='white' fill-opacity='0.6'/%3E%3C/svg%3E%0A");
        transition: 0.2s;
    }
    .rest .txt .more a:hover::before {
        position: absolute;
        left: 0;
        bottom: 0;
        width: 100%;
        height: 100%;
        content: "";
        background-position: center center;
        background-repeat: no-repeat;
        background-size: cover;
        background-image: url("data:image/svg+xml,%3Csvg width='46' height='46' viewBox='0 0 46 46' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Crect x='0.5' y='0.5' width='45' height='45' rx='22.5' fill='white' stroke='white'/%3E%3Cpath d='M24.6 23L20 18.4L21.4 17L27.4 23L21.4 29L20 27.6L24.6 23Z' fill='%237C6C5D'/%3E%3C/svg%3E%0A");
    }
    .rest button.tab_menu span {
        font-family: "Pre_Regul";
        font-weight: 400;
        color: var(--color-w40);
    }
    .rest button.tab_menu.on span:hover {
        color: var(--color-white);
        font-weight: 700;
    }
    .rest .txt strong {
        color: var(--color-w40);
    }
    .rest .list {
        width: 73%;
    }


















    /* .rest .tab > ul {
        left: 0;
        top: 0;
        display: flex;
        
    }
    .rest .tab ul li {
        color: var(--color-w40);
    }
    .rest .tab ul li.on button span {
        color: var(--color-white);
    }
    .rest .tab ul li button {
        display: block;
        margin-right: 24px;
        width: 100%;
        height: 100%;
        text-align: left;
        position: relative;
    }
    .rest .tab ul li.on .tab_detail {
        display: block;
        position: absolute;
        left: -1003px;
        bottom: -180px;
        z-index: 1;
        width: 948px;
        height: 545px;
        content: "";
        background-position: center center;
        background-repeat: no-repeat;
        background-size: cover;
    }
    .rest .tab ul li .tab_detail button.rest-prev::after {
        position: absolute;
        left: 2%;
        top: -349px;
        width: 82px;
        height: 82px;
        z-index: 5;
        content: "";
        border-radius: 50%;
        background-position: center center;
        background-repeat: no-repeat;
        background-size: contain;
        background-image: url("data:image/svg+xml,%3Csvg width='82' height='82' viewBox='0 0 82 82' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Ccircle cx='41' cy='41' r='41' fill='white' fill-opacity='0.2'/%3E%3Cpath d='M71 46H12L29.7683 28' stroke='white' stroke-opacity='0.6' stroke-width='2'/%3E%3C/svg%3E%0A");
    }
    .rest .tab ul li .tab_detail button.rest-next::before {
        position: absolute;
        right: 2%;
        top: -349px;
        width: 82px;
        height: 82px;
        z-index: 5;
        content: "";
        border-radius: 50%;
        background-position: center center;
        background-repeat: no-repeat;
        background-size: contain;
        background-image: url("data:image/svg+xml,%3Csvg width='82' height='82' viewBox='0 0 82 82' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Ccircle cx='41' cy='41' r='41' fill='white' fill-opacity='0.2'/%3E%3Cpath d='M12 46H71L53.2317 28' stroke='white' stroke-opacity='0.6' stroke-width='2'/%3E%3C/svg%3E%0A");
    }
    .rest .tab ul li.on .tab_detail ul li a .photo {
        font-size: 0;
        line-height: 0;
        overflow: hidden;
    }
    .rest .tab ul li.on .tab_detail a .photo img {
        object-fit: cover;
        width: 100%;
        height: 100%;
    }
    
     */










    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    .pack {
        margin-top: 128px;
    }
    .pack .tit {
        display: flex;
        margin-bottom: 21px;
        color: var(--txt-main);
    }
    .pack .tit h2 {
        font-family: "Antic Didone", serif;
        font-size: 3.333rem;
        line-height: 1.2;
    }
    .pack .tit p {
        margin: 37px 0 0 25px;
        color: var(--color-main);
        position: relative;
    }
    .pack .tit p::before {
        position: absolute;
        right: -12px;
        top: 2px;
        width: 1px;
        height: 15px;
        content: "";
        background-color: var(--color-main);
    }
    .pack .tit p:last-child::before {
        display: none;
    }
    .pack .more a {
        display: block;
        position: relative;
        font-size: 0;
        line-height: 0;
    }
    .pack .more a::before {
        position: absolute;
        right: 0;
        top: -58px;
        width: 46px;
        height: 46px;
        content: "";
        transition: 0.2s;
        background-position: center center;
        background-repeat: no-repeat;
        background-size: contain;
        background-image: url("data:image/svg+xml,%3Csvg width='46' height='46' viewBox='0 0 46 46' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Crect x='0.5' y='0.5' width='45' height='45' rx='22.5' stroke='%237C6C5D'/%3E%3Cpath d='M24.6 23L20 18.4L21.4 17L27.4 23L21.4 29L20 27.6L24.6 23Z' fill='%237C6C5D'/%3E%3C/svg%3E%0A");
    }
    .pack .more a:hover::before {
        position: absolute;
        right: 0;
        top: -58px;
        width: 46px;
        height: 46px;
        content: "";
        background-position: center center;
        background-repeat: no-repeat;
        background-size: contain;
        background-image: url("data:image/svg+xml,%3Csvg width='46' height='46' viewBox='0 0 46 46' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Crect x='0.5' y='0.5' width='45' height='45' rx='22.5' fill='%237C6C5D' stroke='%237C6C5D'/%3E%3Cpath d='M24.6 23L20 18.4L21.4 17L27.4 23L21.4 29L20 27.6L24.6 23Z' fill='white'/%3E%3C/svg%3E%0A");
    }



    .pack .list ul {
        display: flex;
        height: 531px;
    }
    .pack .list ul li {
        width: 33.33%;
        background-position: center center;
        background-repeat: no-repeat;
        background-size: cover;
        position: relative; /* before 정렬의 기준 */
        transition: 0.5s;
        position: relative;
    
    }
    .pack .list ul li::before {
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        background-color: #000;
        opacity: 0.5;
        content: "";
    }
    .pack .list ul li.pack1 {
        background-image: url(../images/pack01.png); 
    }
    .pack .list ul li.pack2 {
        background-image: url(../images/pack02.png);
    }
    .pack .list ul li.pack3 {
        background-image: url(../images/pack03.png);
    }
    .pack .list ul li a .inner {
        opacity: 0;
        transition: 0.5s;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
     }
    .pack .list ul li.on {
        width: 95%;
    }
    .pack .list ul li.on::before {
        opacity: 0;
    }
    .pack .list ul li.on a .inner {
        position: absolute;
        bottom: 21px;
        left: 30px;
        opacity: 1;
        display: flex;
        color: var(--color-white);
    }
    .pack .list ul li.on a .inner h3 {
        font-family: 'Pre_Bold';
        font-size: 2.4rem;
        font-weight: 700;
        line-height: 1.2;
    }
    .pack .list ul li.on a .inner p {
        padding: 20px 0 0 9px;
    }

    .exp {
        margin-top: 372px;
        background-color: var(--color-main);
        height: 585px;
    }
    .exp .tit {
        padding-top: 58px;
        color: var(--color-white);
    }
    .exp .tit h2 {
        font-family: "Antic Didone", serif;
        font-size: 3.333rem;
        line-height: 1.2;
    }
    .exp .tit p {
        margin: 17px 0 0 0;
        color: var(--color-w80);
    }
    .exp .more a {
        display: block;
        font-size: 0;
        line-height: 0;
        width: 46px;
        height: 46px;
        position: relative;
    }
    .exp .more a::before {
        position: absolute;
        left: 0;
        top: 40px;
        width: 100%;
        height: 100%;
        content: "";
        background-position: center center;
        background-repeat: no-repeat;
        background-size: cover;
        background-image: url("data:image/svg+xml,%3Csvg width='46' height='46' viewBox='0 0 46 46' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Crect x='0.5' y='0.5' width='45' height='45' rx='22.5' stroke='white' stroke-opacity='0.6'/%3E%3Cpath d='M24.6 23L20 18.4L21.4 17L27.4 23L21.4 29L20 27.6L24.6 23Z' fill='white' fill-opacity='0.6'/%3E%3C/svg%3E%0A");
        transition: 0.2s;
    }
    .exp .more a:hover::before {
        position: absolute;
        left: 0;
        top: 40px;
        width: 100%;
        height: 100%;
        content: "";
        background-position: center center;
        background-repeat: no-repeat;
        background-size: cover;
        background-image: url("data:image/svg+xml,%3Csvg width='46' height='46' viewBox='0 0 46 46' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Crect x='0.5' y='0.5' width='45' height='45' rx='22.5' fill='white' stroke='white'/%3E%3Cpath d='M24.6 23L20 18.4L21.4 17L27.4 23L21.4 29L20 27.6L24.6 23Z' fill='%237C6C5D'/%3E%3C/svg%3E%0A");
    }

    .exp .wrapper {
        position: relative;
    }
    .exp .tab > ul {
        position: absolute;
        left: 308px;
        top: 272px;
        width: 288px;
        height: 117px;
        content: "";
    }
    .exp .tab ul li {
        color: var(--color-w40);
    }
    .exp .tab ul li.on {
        color: var(--color-white);
    }
    .exp .tab ul li button {
        display: block;
        padding: 11.5px 0;
        width: 100%;
        height: 100%;
        text-align: left;
        position: relative;
    }
    .exp .tab ul li.on button::after {
        position: absolute;
        left: -3px;
        bottom: 0px;
        width: 279px;
        height: 1px;
        content: "";
        background-color: var(--color-white);
    }
    .exp .tab ul li button::before {
        position: absolute;
        right: 6px;
        top: 5px;
        width: 24px;
        height: 24px;
        content: "";
        background-position: center center;
        background-repeat: no-repeat;
        background-size: cover;
        background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M12.6 12L8 7.4L9.4 6L15.4 12L9.4 18L8 16.6L12.6 12Z' fill='white' fill-opacity='0.4'/%3E%3C/svg%3E%0A");
    }
    .exp .tab ul li.on button span::before {
        position: absolute;
        right: 6px;
        top: 5px;
        width: 24px;
        height: 24px;
        content: "";
        background-position: center center;
        background-repeat: no-repeat;
        background-size: cover;
        background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M12.6 12L8 7.4L9.4 6L15.4 12L9.4 18L8 16.6L12.6 12Z' fill='white'/%3E%3C/svg%3E%0A");
    }

    .exp .tab ul li .tab_detail {
        display: none;
    }
    .exp .tab ul li.on .tab_detail {
        display: block;
        position: absolute;
        right: -936px;
        bottom: -62px;
        z-index: 1;
        width: 910px;
        height: 653px;
        content: "";
        background-position: center center;
        background-repeat: no-repeat;
        background-size: cover;
    }
    .exp .tab ul li.on .tab_detail ul li a .photo {
        font-size: 0;
        line-height: 0;
        overflow: hidden;
    }
    .exp .tab ul li.on .tab_detail a .photo img {
        object-fit: cover;
        width: 100%;
        height: 100%;
    }
}


