@font-face {
    font-family: "exb";
    font-weight: 700;
    font-display: swap;
    src: local('Pretendard-ExtraBold'), url(../fonts/Pretendard-ExtraBold.woff2) format('woff2'), url(../fonts/Pretendard-ExtraBold.woff) format('woff');
}
@font-face {
    font-family: "sem";
    font-weight: 500;
    font-display: swap;
    src: local('Pretendard-SemiBold'), url(../fonts/Pretendard-SemiBold.woff2) format('woff2'), url(../fonts/Pretendard-SemiBold.woff) format('woff');
}
@font-face {
    font-family: "reg";
    font-weight: 400;
    font-display: swap;
    src: local('Pretendard-Regular'), url(../fonts/Pretendard-Regular.woff2) format('woff2'), url(../fonts/Pretendard-Regular.woff) format('woff');
}