@import url(default.css);
@import url(fonts.css);
@import url(common.css);
@import url(layout.css);

.visual_popup .popup .popup_item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.visual_popup .popup .popup_item img.mo {
    display: none;
}
.visual_popup .popup .slick-dots {
    position: absolute; /* popup을 기준으로 정렬 - slick이 relative 값 줌 */
    bottom: 21px;
    left: 50%;
    transform: translate(-50%, 0); /* 좌우에 가운데 */
    display: flex;
    gap: 6px;
}
.visual_popup .popup .slick-dots li button {
    /* 버튼을 눌러서 다음 팝업을 보기 때문에 button 태그에 스타일을 줘야 함 */
    font-size: 0;
    line-height: 0;
    width: 22px;
    height: 8px;
    border-radius: 4px;
    background-color: var(--txt-color-w50);
}
.visual_popup .popup .slick-dots li.slick-active button {
    width: 40px;
    background-color: var(--txt-color-white);
}
@media screen and (max-width:768px){
    .visual_popup .popup .popup_item img.pc {
        display: none;
    }
    .visual_popup .popup .popup_item img.mo {
        display: block;
        
    }
}

.menu .tit {
    text-align: center;
    margin: 105px 0 61px 0;
}
.menu .tit h2 {
    font-family: "rena";
    margin: 0 0 18px 0;
    font-size: 4.800rem;
    line-height: 1.2;
    color: var(--txt-color-tit);
}
.menu .list .popup .popup_item {
    margin: 0 12px;
    height: 429px;
    text-align: center;
    position: relative;
    width: auto;
}
.menu .list .popup .popup_item::before {
    position: absolute;
    left: 0;
    top: 99px;
    z-index: -1;
    width: 100%;
    height: calc(100% - 103px);
    border: 2px solid var(--txt-color-black);
    background-color: #f8f5ee;
    content: "";
}
.menu .list .popup .popup_item .photo {
    overflow: hidden;
    margin: 0 5%;
}
.menu .list .popup .popup_item .photo img {
    max-width: 100%;
    max-height: 100%;
    object-fit: contain; /* 이미지를 자르지 않고 모두 보이도록 */
}
.menu .list .popup .popup_item h3 {
    font-weight: 700;
    font-size: 1.333rem;
    color: var(--txt-color-black);
    line-height: 1.2;
    height: 2.4em;
    overflow: hidden;
    text-overflow: ellipsis;
    margin: 25px 0 4px 0;
    padding: 0 5%;
}
.menu .list .popup .popup_item span {
    margin: 0 0 30px 0;
}
@media screen and (max-width:1024px){
    .menu .list .popup .popup_item {
        margin: 0 6px;
        height: calc(100% + 50px);
    }
    .menu .list .popup .popup_item::before {
        height: calc(100% - 82px);
    }
    .menu .list .popup .popup_item h3 {
        font-weight: 700;
        font-size: 1.333rem;
        color: var(--txt-color-black);
        line-height: 1.2;
        height: auto;
        margin: 10px 0 4px 0;
        padding: 0 5%;
    }
}
@media screen and (max-width:768px){
    .menu .list .popup .popup_item {
        margin: 0 6px;
        height: calc(100% + 30px);
    }
    .menu .list .popup .popup_item::before {
        height: calc(100% - 111px);
    }
    .menu .list .popup .popup_item h3 {
        font-weight: 700;
        font-size: 1.333rem;
        color: var(--txt-color-black);
        line-height: 1.2;
        height: auto;
        margin: 10px 0 4px 0;
        padding: 0 5%;
    }
    
}