@import url(default.css);
@import url(fonts.css);
@import url(common.css);

.font_hs {
    font-family: 'HS';
}
.font_noto {
    font-family: 'Noto';
    font-weight: 700;
}
.font_noto_r {
    font-family: 'Noto_r';
    font-weight: 400;
}
header {
    position: absolute; /* body를 기준으로 정렬 */
    left: 0;
    top: 0;
    width: 100%;
    z-index: 100;
    color: #fff;
}
header .wrapper {
    height: 100px;
    display: flex;
    justify-content: space-between;
}
header .logo a {
    display: block;
    width: 253px;
    height: 58px;
    font-size: 0;
    line-height: 0;
    position: relative;
    margin: 19px 0 0 0;
}
header .logo a::after {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
    background-image: url(../images/logo.png);
    content: "";
}
        header .gnb .gnb_open,
        header .gnb .gnb_close {
            display: none;
        }
        header .gnb .gnb_wrap ul.depth1 > li > a {
            padding: 36px 20px;
            display: block;
            font-size: 18px;
            line-height: 1.2;
        }
        header .gnb .gnb_wrap ul.depth2 {
            display: none;
        }
        @media screen and (min-width:1025px){ /* 1025px 이상 - pc 버전 메뉴 */
            /* 메뉴가 상단에 표시되는 것은 브라우저 넓이가 1025px 이상일 때까지만 */
            header .gnb .gnb_open,
            header .gnb .gnb_close {
                display: none; /* 모바일에서만 나옴 */
            }
            header .gnb .gnb_wrap ul.depth1 {
                display: flex;
            }
            header .gnb .gnb_wrap ul.depth1 > li {
                position: relative; /* 2차 메뉴 정렬의 중심 */
            }
            header .gnb .gnb_wrap ul.depth1 > li > a { /* ">" -> 감싸여있는 구조 중 바로 아래 있는 태그 */
                /* header의 높이와 동일하게 행간을 줌
                   - 그럼 글자가 위 아래 가운데.
                     하위메뉴와 정확하게 여백을 맞추기 위해서
                     (맞추지 않으면 하위메뉴와 영역이 맞물리지 않아서 아웃될 수 있음) */
                padding: 0 29px;
                line-height: 100px;
                padding-right: 35px;
                display: block;
                font-size: 18px;
                position: relative;
            }
            /* has 가상 선택자는 하위요소 중에서 depth2라는 클래스명을 가진 요소가 있는지 계산
               단, 브라우저 높은 버전에서만 지원되어 하위 브라우저에서는 구현 X
               -- 기능상의 문제는 없음(화살표만 나오지 않음) */
            header .gnb .gnb_wrap ul.depth1 > li:has(.depth2) > a::after {
                position: absolute;
                right: 15px;
                top: 48px;
                width: 9px;
                height: 5px;
                background-position: center center;
                background-repeat: no-repeat;
                background-size: contain;
                content: "";  /* after를 보이게 하는 값 */
                background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='10.258' height='5.836' viewBox='0 0 10.258 5.836'%3E%3Cpath id='패스_39' data-name='패스 39' d='M2861.068,1751.893l4.422,4.422,4.422-4.422' transform='translate(-2860.361 -1751.186)' fill='none' stroke='%23fff' stroke-linecap='round' stroke-width='1'/%3E%3C/svg%3E%0A");
            }
            header .gnb .gnb_wrap ul.depth2 {
                display: none;
                position: absolute; /* ul.depth1 > li 을 중심으로 정렬 */
                left: 50%;
                top: 100px; /* header와 떨어져있어도 마우스 커서를 옮길 때 사라지지 않게 하기 위해 */
                padding: 16px 0;
                transform: translate(-50%, 0);
                /* li를 기준으로 해서 가운데(left:50%)에서 오른쪽으로 늘어남
                   그 ul의 길이만큼 왼쪽으로 절반만 이동 */
                text-align: center;
            }
            header .gnb .gnb_wrap ul.depth2::before {
                position: absolute;
                left: 0;
                top: 16px;
                width: 100%;
                height: calc(100% - 24px);
                backdrop-filter: blur(7px) brightness(0.8);
                border-radius: 20px;
                z-index: -1;
                content: "";
            }
            header .gnb .gnb_wrap ul.depth2 > li {
                border-radius: 20px;
                padding: 0 15px;
                font-family: "Prentendard";
            }
            header .gnb .gnb_wrap ul.depth2 > li > a {
                display: block;
                color: #fff;
                white-space: nowrap; /* 줄바꿈 금지 */
                line-height: 1.1;
                padding: 8px 0;
            }
            header .gnb .gnb_wrap ul.depth2 > li > a:hover {
                color: #766BE1;
            }
            /* 1차 메뉴에 오버해서 하위 메뉴가 나타나는 것 */
            header .gnb .gnb_wrap ul.depth1 > li.on > a {
                color: #766BE1;
            }
            header .gnb .gnb_wrap ul.depth1 > li.on:has(.depth2) > a::after {
                /* 어떠한 효과를 적용했을 때의 depth2 */
                background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='10.258' height='5.836' viewBox='0 0 10.258 5.836'%3E%3Cpath id='패스_39' data-name='패스 39' d='M2861.068,1751.893l4.422,4.422,4.422-4.422' transform='translate(2870.619 1757.022) rotate(180)' fill='none' stroke='%23766be1' stroke-linecap='round' stroke-width='1'/%3E%3C/svg%3E%0A");
            }
            header .gnb .gnb_wrap ul.depth1 > li.on > ul.depth2 { /* ul 태그 중 depth2 라는 태그를 갖고 있음 */
                display: block;
            }

            
        }
        @media screen and (min-width:1025px) and (max-width:1300px) {
        header .gnb .gnb_wrap ul.depth1 > li > a {
            padding: 0 29px;
            font-size: 17px;
        }
    }
header .tnb {
    display: flex;
    gap: 10px;
    margin: 34px 0 0 0;
}
header .tnb .search {
    width: 123px;
    height: 29px;
    border: 1px solid #fff;
    border-radius: 15px; /* 좌우 라운드를 많이 줄 때 높이의 절반. %가 안됨 */
}
header .btn_open {
    display: none;
}
header .tnb .search .search_box {
    display: flex;
    justify-content: space-between;
    align-items: center; /* 위아래 가운데 */
    margin: 3px 12px 0 14px;
}
header .tnb .search .search_box label {
    display: none;
}
header .tnb .search .search_box input[type="text"] { /* [타입 선택자] */
    width: calc(100% - 18px);
    height: 21px;
    border: 0;
    background-color: transparent; /* 투명 */
    outline: 0; /* focus 되었을 때 검은 테두리 삭제 */
}
header .tnb .search .search_box input[type="text"]::placeholder {
    color: rgba(255,255,255,0.6);
}
header .tnb .search .search_box input[type="submit"] {
    width: 16px;
    height: 16px;
    font-size: 0;
    line-height: 0;
    background-color: transparent;
    border: 0;
    /* input은 after / before가 안됨 (종료 태그가 없기 때문) */
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16.009' viewBox='0 0 16 16.009'%3E%3Cpath id='search_24dp_FILL0_wght200_GRAD0_opsz24' d='M157.977-797.9a5.469,5.469,0,0,1-4.019-1.648,5.469,5.469,0,0,1-1.648-4.019,5.469,5.469,0,0,1,1.648-4.019,5.469,5.469,0,0,1,4.019-1.648A5.469,5.469,0,0,1,162-807.582a5.469,5.469,0,0,1,1.648,4.019,5.586,5.586,0,0,1-.365,1.995,5.418,5.418,0,0,1-.958,1.649l5.842,5.842a.5.5,0,0,1,.148.34.462.462,0,0,1-.148.359.486.486,0,0,1-.35.158.485.485,0,0,1-.35-.158l-5.842-5.842a5.44,5.44,0,0,1-1.706.977A5.7,5.7,0,0,1,157.977-797.9Zm0-.989a4.518,4.518,0,0,0,3.323-1.355,4.518,4.518,0,0,0,1.355-3.323,4.518,4.518,0,0,0-1.355-3.323,4.518,4.518,0,0,0-3.323-1.355,4.518,4.518,0,0,0-3.323,1.355,4.518,4.518,0,0,0-1.355,3.323,4.518,4.518,0,0,0,1.355,3.323A4.518,4.518,0,0,0,157.977-798.886Z' transform='translate(-152.31 809.23)' fill='%23fff' opacity='0.6'/%3E%3C/svg%3E%0A");
    margin: -2px 0 0 0;
}
header .tnb .link a {
    width: 93px;
    height: 29px;
    border: 1px solid #fff;
    border-radius: 46px;
    padding: 3px 0 0 16px;
    display: block;
    position: relative; /* before */
    color: rgba(255,255,255,0.6);
}
header .tnb .link a::before {
    position: absolute;
    right: 16px;
    top: 6px;
    width: 14px;
    height: 14px;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='14' height='14' viewBox='0 0 14 14'%3E%3Cpath id='open_in_new_24dp_FILL0_wght200_GRAD0_opsz24' d='M161.414-786a1.369,1.369,0,0,1-1.009-.4,1.369,1.369,0,0,1-.4-1.009v-11.173a1.369,1.369,0,0,1,.4-1.009,1.369,1.369,0,0,1,1.009-.4h4.476a.424.424,0,0,1,.312.125.424.424,0,0,1,.125.312.424.424,0,0,1-.125.312.424.424,0,0,1-.312.125h-4.476a.515.515,0,0,0-.37.168.515.515,0,0,0-.168.37v11.173a.515.515,0,0,0,.168.37.515.515,0,0,0,.37.168h11.173a.515.515,0,0,0,.37-.168.515.515,0,0,0,.168-.37v-4.476a.424.424,0,0,1,.125-.312.424.424,0,0,1,.312-.125.423.423,0,0,1,.312.125.424.424,0,0,1,.125.312v4.476a1.369,1.369,0,0,1-.4,1.009,1.369,1.369,0,0,1-1.009.4Zm11.711-12.506-7.794,7.794a.441.441,0,0,1-.3.131.409.409,0,0,1-.318-.131.43.43,0,0,1-.14-.31.429.429,0,0,1,.14-.309l7.794-7.794h-3.318a.424.424,0,0,1-.312-.125.424.424,0,0,1-.125-.312.424.424,0,0,1,.125-.312.424.424,0,0,1,.312-.125h4.106a.686.686,0,0,1,.506.2.686.686,0,0,1,.2.506v4.106a.424.424,0,0,1-.125.312.424.424,0,0,1-.312.125.424.424,0,0,1-.312-.125.424.424,0,0,1-.125-.312Z' transform='translate(-160 800)' fill='%23fff' opacity='0.6'/%3E%3C/svg%3E%0A");
    content: "";
}
header .tnb .link a:hover {
    background-color: #766BE1;
    border-color: #766BE1;
    color: #fff;
}
header .tnb .link a:hover::before {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='15' height='15' viewBox='0 0 15 15'%3E%3Cpath id='open_in_new_24dp_FILL0_wght200_GRAD0_opsz24' d='M161.414-786a1.369,1.369,0,0,1-1.009-.4,1.369,1.369,0,0,1-.4-1.009v-11.173a1.369,1.369,0,0,1,.4-1.009,1.369,1.369,0,0,1,1.009-.4h4.476a.424.424,0,0,1,.312.125.424.424,0,0,1,.125.312.424.424,0,0,1-.125.312.424.424,0,0,1-.312.125h-4.476a.515.515,0,0,0-.37.168.515.515,0,0,0-.168.37v11.173a.515.515,0,0,0,.168.37.515.515,0,0,0,.37.168h11.173a.515.515,0,0,0,.37-.168.515.515,0,0,0,.168-.37v-4.476a.424.424,0,0,1,.125-.312.424.424,0,0,1,.312-.125.423.423,0,0,1,.312.125.424.424,0,0,1,.125.312v4.476a1.369,1.369,0,0,1-.4,1.009,1.369,1.369,0,0,1-1.009.4Zm11.711-12.506-7.794,7.794a.441.441,0,0,1-.3.131.409.409,0,0,1-.318-.131.43.43,0,0,1-.14-.31.429.429,0,0,1,.14-.309l7.794-7.794h-3.318a.424.424,0,0,1-.312-.125.424.424,0,0,1-.125-.312.424.424,0,0,1,.125-.312.424.424,0,0,1,.312-.125h4.106a.686.686,0,0,1,.506.2.686.686,0,0,1,.2.506v4.106a.424.424,0,0,1-.125.312.424.424,0,0,1-.312.125.424.424,0,0,1-.312-.125.424.424,0,0,1-.125-.312Z' transform='translate(-159.5 800.5)' fill='none' stroke='%23fff' stroke-width='1'/%3E%3C/svg%3E%0A");
}

/* header가 상단에 고정되었을 때 */
header.fixed,
header.menu_over {
    position: fixed;
}
header.fixed::before,
header.menu_over::before {
    position: absolute;
    left: 0;
    top: 0;
    z-index: -1; /* 맨 아래로 이동 - position을 갖지 않은 요소보다 아래 */
    width: 100%;
    height: 100%;
    backdrop-filter: blur(5px) brightness(0.8);
    content: "";

}



header.fixed .tnb .search,
header.menu_over {
    border-color: #fff;
}
header.fixed .tnb .search .search_box input[type="text"]::placeholder,
header.menu_over {
    color: #fff;
}
header.fixed .tnb .link a,
header.menu_over {
    border-color: #fff;
}
header.fixed .tnb .link a {
    color: #fff;
}


@media screen and (max-width:1300px){
    header .logo a::after {
        top: 6px;
        width: 90%;
        height: 90%;
    }
}
@media screen and (max-width:1024px){
    /* 모바일 메뉴 스타일 */
    header .gnb .gnb_wrap {
        display: none;
        position: absolute; /* header를 기준으로 정렬 */
        left: 0;
        top: 0;
        z-index: 110;
        width: 100%;
        height: 100vh;
        /* vh라는 단위는 브라우저 높이를 100으로 보는 단위
           감싸는 요소의 넓이는 고려하지 않음 */
        background-color: #fff;
        color: #1d1d1d;
    }
    header .gnb .gnb_wrap ul.depth1 {
        margin: 80px 29px 29px 21px;
    }
    header .gnb .gnb_wrap ul.depth1 > li > a {
        display: block;
        font-family: 'Noto';
        font-size: 18px;
        line-height: 1.2;
    }
    header .gnb .gnb_wrap ul.depth2 {
        background-color: rgba(118,107,225,0.1);
    }
    header .gnb .gnb_wrap ul.depth2 > li > a {
        border-radius: 20px;
        font-family: 'Pretendard';
        font-size: 15px;
    }
    header .gnb .gnb_open,
    header .gnb .gnb_close {
        position: absolute; /* header를 기준으로 정렬 (그 외 태그에 relative가 없어서) */
        right: 0;
        top: 0;
        display: block; /* 숨긴 거 보임 */
        width: 60px;
        height: 100%;
        z-index: ;
        font-size: 0;
        line-height: 0;
    }
    header .gnb .gnb_open::before,
    header .gnb .gnb_close::before {
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        width: 18px;
        height: 16px;
        background-position: center center;
        background-repeat: no-repeat;
        background-size: contain;
        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='18' height='15.6' viewBox='0 0 18 15.6'%3E%3Cpath id='menu_24dp_FILL0_wght100_GRAD0_opsz24' d='M172.409-666.4a.354.354,0,0,1-.292-.156.622.622,0,0,1-.117-.386.617.617,0,0,1,.117-.385.355.355,0,0,1,.292-.154h17.182a.353.353,0,0,1,.291.156.621.621,0,0,1,.118.386.616.616,0,0,1-.118.385.354.354,0,0,1-.291.154Zm0-7.259a.353.353,0,0,1-.292-.156A.623.623,0,0,1,172-674.2a.617.617,0,0,1,.117-.385.355.355,0,0,1,.292-.154h17.182a.353.353,0,0,1,.291.156.621.621,0,0,1,.118.386.616.616,0,0,1-.118.385.354.354,0,0,1-.291.155Zm0-7.259a.354.354,0,0,1-.292-.156.622.622,0,0,1-.117-.386.617.617,0,0,1,.117-.385.354.354,0,0,1,.292-.155h17.182a.353.353,0,0,1,.291.156.622.622,0,0,1,.118.386.616.616,0,0,1-.118.385.354.354,0,0,1-.291.154Z' transform='translate(-172 682)' fill='%23fff'/%3E%3C/svg%3E ");
        content: "";
    }

/* 모바일 메뉴 나중에 영상 보면서 다시 하기 */
































    /* 메뉴가 열렸을 때 */
    header.mobile_open .gnb .gnb_wrap {
        display: block; /* 보이기 */
    }
    header.gnb_close .gnb.gnb_close,
    header.mobile_open .gnb .gnb_open {
        display: block;
    
    }
    header.gnb_close .gnb.gnb_close::before,
    header.mobile_open .gnb .gnb_open::before {
        position: absolute; /* header를 기준으로 정렬 (그 외 태그에 relative가 없어서) */
        right: 0;
        top: 0;
        display: block; /* 숨긴 거 보임 */
        width: 60px;
        height: 100%;
        font-size: 0;
        line-height: 0;
        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='10.258' height='5.836' viewBox='0 0 10.258 5.836'%3E%3Cpath id='패스_244' data-name='패스 244' d='M2861.068,1751.893l4.422,4.422,4.422-4.422' transform='translate(-2860.361 -1751.186)' fill='none' stroke='%231d1d1d' stroke-linecap='round' stroke-width='1'/%3E%3C/svg%3E%0A");
    }

    header .gnb .gnb_close {
        display: none;
    }
    
    header .tnb {
        margin-right: 43px;
    }

}
@media screen and (max-width:768px){
    header .wrapper {
        height: 45px;
    }
    header .logo a {
        width: 150px;
        height: 40px;
        margin: 0;
    }

    header .tnb {
        margin: 13px 40px 0 0;
    }
    
    header .tnb .btn_open {
        width: 18px;
        height: 16px;
        font-size: 0;
        line-height: 0;
        position: relative; /* before */
    }
    header .tnb .search {
        display: block;
        border: 0;
        width: 16px;
        height: 16px;
    }
    header .tnb .link {
        display: none; /* 모바일 숨김 */
    }
    header .tnb .search .search_box {
        margin: 0;
    }
    header .tnb .search .search_box input[type="submit"] {
        margin: 0;
    }
}


.visual h2 {
    display: none;
}
.visual ul li {
    height: 896px;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    color: #fff;
}
.visual ul li p {
    margin: 395px 0 0 0;
    text-align: center;
    font-size: 50px;
    line-height: 1.2;
}
.visual ul li.bg1 {
    background-image: url(../images/visual_1.png);
}
.visual ul li.bg2 {
    background-image: url(../images/visual_2.png);
}
.visual ul li.bg3 {
    background-image: url(../images/visual_3.png);
}
.visual ul li.bg4 {
    background-image: url(../images/visual_4.png);
}
.visual .btn_wrap {
    position: absolute; /* swiper 기준으로 정렬. 다른 요소에 relative를 줘도 swiper에 적용됨 */
    left: 50%; /* 50% - 정렬의 기준 swiper 넓이의 왼쪽 절반부터 시작 */
    transform: translate(-50%, 0); /* translate(좌우, 위아래); */
    /* btrn_wrap(자신)의 넓이의 절반만큼 왼쪽으로 이동 */
    bottom: 26px;
    z-index: 10; /* 아래에 깔려있어서 안보임. 숫자를 높게 적용 */
    display: flex;
    gap: 4px;
}
.visual .btn_wrap button {
    font-size: 0;
    line-height: 0;
    width: 25px;
    height: 25px;
    position: relative; /* before 정렬의 기준 */
}
.visual .btn_wrap button::before {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%; /* button 사이즈를 기준으로 100% */
    height: 100%;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;
    content: "";
}
.visual .btn_wrap button.btn_prev::before {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='25' height='25' viewBox='0 0 25 25'%3E%3Cg id='prev' transform='translate(-962 -845)'%3E%3Cg id='타원_2' data-name='타원 2' transform='translate(962 845)' fill='none' stroke='rgba(255,255,255,0.6)' stroke-width='1'%3E%3Ccircle cx='12.5' cy='12.5' r='12.5' stroke='none'/%3E%3Ccircle cx='12.5' cy='12.5' r='12' fill='none'/%3E%3C/g%3E%3Cpath id='arrow_forward_ios_24dp_FILL0_wght200_GRAD0_opsz24' d='M296.731-832.5l-6.43-6.431a.6.6,0,0,1-.182-.443.612.612,0,0,1,.187-.443.6.6,0,0,1,.443-.184.6.6,0,0,1,.443.184l6.365,6.37a1.255,1.255,0,0,1,.295.45,1.411,1.411,0,0,1,.093.5,1.411,1.411,0,0,1-.093.5,1.256,1.256,0,0,1-.295.45l-6.37,6.37a.592.592,0,0,1-.441.182.609.609,0,0,1-.441-.187.6.6,0,0,1-.184-.443.6.6,0,0,1,.184-.443Z' transform='translate(1266.944 24.5) rotate(180)' fill='rgba(255,255,255,0.6)'/%3E%3C/g%3E%3C/svg%3E%0A");
}
.visual .btn_wrap button.btn_next::before {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='25' height='25' viewBox='0 0 25 25'%3E%3Cg id='next' transform='translate(-991 -845)'%3E%3Cg id='타원_1' data-name='타원 1' transform='translate(991 845)' fill='none' stroke='rgba(255,255,255,0.6)' stroke-width='1'%3E%3Ccircle cx='12.5' cy='12.5' r='12.5' stroke='none'/%3E%3Ccircle cx='12.5' cy='12.5' r='12' fill='none'/%3E%3C/g%3E%3Cpath id='arrow_forward_ios_24dp_FILL0_wght200_GRAD0_opsz24' d='M296.731-832.5l-6.43-6.431a.6.6,0,0,1-.182-.443.612.612,0,0,1,.187-.443.6.6,0,0,1,.443-.184.6.6,0,0,1,.443.184l6.365,6.37a1.255,1.255,0,0,1,.295.45,1.411,1.411,0,0,1,.093.5,1.411,1.411,0,0,1-.093.5,1.256,1.256,0,0,1-.295.45l-6.37,6.37a.592.592,0,0,1-.441.182.609.609,0,0,1-.441-.187.6.6,0,0,1-.184-.443.6.6,0,0,1,.184-.443Z' transform='translate(709.882 1689.5)' fill='rgba(255,255,255,0.6)'/%3E%3C/g%3E%3C/svg%3E%0A");
}
.visual .btn_wrap button.btn_stop::before {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='25' height='25' viewBox='0 0 25 25'%3E%3Cg id='stop' transform='translate(-904 -845)'%3E%3Cg id='타원_4' data-name='타원 4' transform='translate(904 845)' fill='none' stroke='rgba(255,255,255,0.6)' stroke-width='1'%3E%3Ccircle cx='12.5' cy='12.5' r='12.5' stroke='none'/%3E%3Ccircle cx='12.5' cy='12.5' r='12' fill='none'/%3E%3C/g%3E%3Cline id='선_1' data-name='선 1' y2='11' transform='translate(913.5 851.56)' fill='none' stroke='rgba(255,255,255,0.6)' stroke-linecap='round' stroke-width='1'/%3E%3Cline id='선_2' data-name='선 2' y2='11' transform='translate(919.5 851.56)' fill='none' stroke='rgba(255,255,255,0.6)' stroke-linecap='round' stroke-width='1'/%3E%3C/g%3E%3C/svg%3E%0A");
}
.visual .btn_wrap button.btn_play::before {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='25' height='25' viewBox='0 0 25 25'%3E%3Cg id='play' transform='translate(-933 -845)'%3E%3Cg id='타원_3' data-name='타원 3' transform='translate(933 845)' fill='none' stroke='rgba(255,255,255,0.6)' stroke-width='1'%3E%3Ccircle cx='12.5' cy='12.5' r='12.5' stroke='none'/%3E%3Ccircle cx='12.5' cy='12.5' r='12' fill='none'/%3E%3C/g%3E%3Cpath id='play_arrow_24dp_FILL0_wght100_GRAD0_opsz24' d='M372-627.4v-12.2a1.3,1.3,0,0,1,.419-1.025A1.426,1.426,0,0,1,373.4-641a1.531,1.531,0,0,1,.373.047,1.819,1.819,0,0,1,.373.14l9.6,6.149a1.686,1.686,0,0,1,.489.512,1.271,1.271,0,0,1,.163.652,1.271,1.271,0,0,1-.163.652,1.685,1.685,0,0,1-.489.512l-9.6,6.149a1.819,1.819,0,0,1-.373.14,1.531,1.531,0,0,1-.373.047,1.427,1.427,0,0,1-.978-.373A1.3,1.3,0,0,1,372-627.4ZM373.3-633.5Zm0,6.242,9.876-6.242-9.876-6.242Z' transform='translate(568.536 1491)' fill='rgba(255,255,255,0.6)'/%3E%3C/g%3E%3C/svg%3E%0A");
}
.visual .btn_wrap button.btn_play {
    display: none; /* 처음에는 숨김 */
}

@media screen and (max-width:1024px){
    .visual ul li {
        height: 700px;
    }
    .visual ul li p {
        margin: 330px 0 0 0;
        font-size: 40px;
    }
}
@media screen and (max-width:768px){
    .visual ul li {
        height: 500px;
    }
    .visual ul li p {
        margin: 270px 0 0 0;
        font-size: 30px;
    }
    .visual .btn_wrap {
        display: none;
    }
}
@media screen and (max-width:640px){
    .visual ul li {
        height: 300px;
    }
    .visual ul li p {
        margin: 228px 0 0 0;
        font-size: 20px;
    }
    .visual .btn_wrap {
        display: none;
    }
}

footer {
    margin-top: 1000px;
}