/* header와 footer 처럼 페이지에 고통으로 배치되는 요소의 css */

header {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100px;
    z-index: 100;
    padding: 0 20px;
    color: #fff;
    display: flex;
    align-items: flex-start; /* 길이가 늘어나는 것 방지 */
    justify-content: space-between;
}
header .logo {
    margin-top: 20px;
}
header .logo a {
    display: block;
    width: 160px;
    height: 53px;
    font-size: 0;
    line-height: 0;
    position: relative;
}
header .logo a::before {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    content: "";
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
    background-image: url("data:image/svg+xml,%3Csvg width='160' height='53' viewBox='0 0 160 53' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg clip-path='url(%23clip0_23_273)'%3E%3Cpath d='M127.369 12.961C127.369 13.4119 127.434 13.8792 127.615 14.3219C128.41 16.2894 130.435 17.5027 133.009 16.478C133.624 16.232 150.653 9.3703 150.653 9.3703C150.653 9.3703 143.947 26.3729 143.693 27.0042C142.717 29.439 143.889 31.6442 145.882 32.3821C146.324 32.546 146.784 32.628 147.234 32.6198C148.866 32.6116 150.301 31.6524 151.006 29.7341C151.112 29.4472 159.5 6.41902 159.68 5.86976C159.787 5.54184 159.984 4.77123 159.984 4.23836C159.984 3.09884 159.565 2.0249 158.754 1.2133C157.959 0.409899 156.893 0 155.769 0C155.22 0 154.777 0.0983759 154.105 0.311524C153.703 0.442691 132.083 8.48492 130.238 9.17355C128.394 9.86218 127.369 11.3378 127.377 12.961' fill='%23ED1C24'/%3E%3Cpath d='M86.8583 25.9465V25.4546H73.7484V28.8076H81.3651C79.381 35.0872 72.289 38.7763 72.289 38.7763L74.1829 41.4243C74.1829 41.4243 86.8583 36.194 86.8583 25.9383V25.9465Z' fill='white'/%3E%3Cpath d='M82.7179 48.2122V41.6948H78.0692V49.0402C78.0692 51.3357 79.8976 52.9917 82.4064 52.9917H96.8117V49.6469H84.3413C83.2099 49.6469 82.7343 49.196 82.7097 48.2122H82.7179Z' fill='white'/%3E%3Cpath d='M86.3336 31.6358V34.9888H91.8678V43.072H96.5166V25.1021H91.8678V31.6358H86.3336Z' fill='white'/%3E%3Cpath d='M126.393 38.5716H131.042V24.9629H126.393V29.2012H121.548V32.5132H126.393V38.5716Z' fill='white'/%3E%3Cpath d='M22.1204 41.4409H4.42737V49.0405C4.42737 51.3359 6.2557 52.9919 8.76454 52.9919H23.1535V42.4739C23.1535 41.9 22.6861 41.4409 22.1204 41.4409ZM18.5047 49.6471H10.6995C9.56803 49.6471 9.0843 49.2044 9.0679 48.2125V44.8021H18.5047V49.6471Z' fill='white'/%3E%3Cpath d='M23.465 25.5039V25.3481H4.1732V28.7011H18.6031C18.6031 28.9225 18.6031 29.2012 18.6031 29.4717C18.6031 32.587 18.4473 34.6365 18.3654 35.4727H0V38.8256H28.2941V35.4727H22.5058C22.7845 34.4233 23.4732 31.1769 23.4732 25.5039H23.465Z' fill='white'/%3E%3Cpath d='M52.3577 43.1296C56.2193 42.2852 59.0725 39.3913 59.0725 35.9646C59.0725 34.12 58.2444 32.4312 56.8834 31.1278H61.8191V27.7748H52.3577V24.6104H47.7172V27.7748H38.2557V31.1278H43.1914C41.8304 32.4312 41.0023 34.1118 41.0023 35.9646C41.0023 39.3995 43.8555 42.2852 47.7253 43.1296V46.5236H35.9026V49.8766H64.1886V46.5236H52.3659V43.1296H52.3577ZM45.774 35.858C45.774 33.5708 47.6844 31.7016 50.0292 31.7016C52.3741 31.7016 54.2844 33.5626 54.2844 35.858C54.2844 38.1534 52.3741 40.0144 50.0292 40.0144C47.6844 40.0144 45.774 38.1534 45.774 35.858Z' fill='white'/%3E%3Cpath d='M117.506 38.2845H122.007C121.818 37.1941 120.17 28.3895 115.882 25.3398H110.692L106.699 38.391H111.365L114.021 28.9961C116.259 31.6195 117.35 37.4237 117.497 38.2845H117.506Z' fill='white'/%3E%3Cpath d='M118.432 49.7617C117.251 49.7617 117.038 49.4584 117.038 48.4582V48.0401H131.05V40.9898C131.05 40.3832 130.607 39.9077 129.976 39.9077H112.471V43.1377H126.598V44.8675H112.594V49.0403C112.594 51.4587 114.333 52.9917 116.932 52.9917H131.353V49.7617H118.432Z' fill='white'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='clip0_23_273'%3E%3Crect width='160' height='53' fill='white'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E%0A");
}

@media screen and (min-width:1025px){
    /* 1025px 이상일 경우 - pc형 */
    header .gnb button {
        display: none;
    }
    header .gnb .gnb_wrap .depth1 {
        display: flex;
        text-align: center;
    }
    header .gnb .gnb_wrap .depth1 > li {
        width: 156px;
        position: relative; /* .depth2 wjdfufdml rlwns */
    }
    header .gnb .gnb_wrap .depth1 > li > a {
        display: block; /* li와 사이즈 동일 */
        line-height: 100px; /* header와 동일한 높이값 */
        font-size: 20px;
        font-weight: 500;
    }
    header .gnb .gnb_wrap .depth1 > li.on > a {
        color: #ED1C24;
    }
    header .gnb .gnb_wrap .depth1 > li.on > a span {
        position: relative; /* after 정렬의 기준 */
    }
    header .gnb .gnb_wrap .depth1 > li.on > a span::after {
        position: absolute;
        right: -8px;
        top: -3px;
        width: 5px;
        height: 5px;
        border-radius: 50%;
        background-color:  #ED1C24;
        content: "";
    }
    header .gnb .gnb_wrap .depth2 {
        /* .menu_over 에서는 display: block; 만 주고
           자세한 요소는 여기서 한번에 줌 */

        display: none; /* 2차메뉴는 오버해야 보임 */
        position: absolute;
        left: 0;
        top: 100px; /* header의 높이만큼 */
        width: 100%;
        /* 위 까지의 값이 다양한 걸 표현할 수 있는 기본 값 */
        padding-top: 25px; /* 1차메뉴 a와 2차 메뉴 사이의 여백은 반드시 padding으로 줘야 함
                              안주면 메뉴가 아래로 내려올 때 메뉴가 아웃됨 */
    }
    header .gnb .gnb_wrap .depth2 > li > a {
        display: block;
        font-size: 17px;
        font-weight: 500;
        line-height: 2;
        color: rgba(61,61,61,0.8);
    }
    header .gnb .gnb_wrap .depth2 > li > a:hover {
        color: rgba(237,28,36,0.8);
    }
    header .gnb .gnb_wrap .depth2 > li > a[target="_blank"] > span {
        /* a 태그 중에서 target="_blank" 라는 정확한 속성과 속성값이 선언된 a 태그에게만 스타일을 줌 */
        padding-right: 4px; /* 아이콘이 들어갈 자리 - 아이콘까지 포함해서 가운데 정렬하기 위해 */
        display: inline-block;
        position: relative;
    }
    header .gnb .gnb_wrap .depth2 > li > a[target="_blank"] > span::after {
        position: absolute;
        right: -13px;
        top: 7px;
        width: 15px;
        height: 15px;
        content: "";
        background-position: center center;
        background-repeat: no-repeat;
        background-size: contain;
        background-image: url("data:image/svg+xml,%3Csvg width='15' height='15' viewBox='0 0 15 15' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M3.50969 12.5C3.22198 12.5 2.98177 12.4036 2.78906 12.2109C2.59635 12.0182 2.5 11.778 2.5 11.4903V3.50969C2.5 3.22198 2.59635 2.98177 2.78906 2.78906C2.98177 2.59635 3.22198 2.5 3.50969 2.5H6.70672C6.79568 2.5 6.87 2.52984 6.92969 2.58953C6.98938 2.64922 7.01922 2.72354 7.01922 2.8125C7.01922 2.90146 6.98938 2.97578 6.92969 3.03547C6.87 3.09516 6.79568 3.125 6.70672 3.125H3.50969C3.41344 3.125 3.32526 3.16505 3.24516 3.24516C3.16505 3.32526 3.125 3.41344 3.125 3.50969V11.4903C3.125 11.5866 3.16505 11.6747 3.24516 11.7548C3.32526 11.8349 3.41344 11.875 3.50969 11.875H11.4903C11.5866 11.875 11.6747 11.8349 11.7548 11.7548C11.8349 11.6747 11.875 11.5866 11.875 11.4903V8.29328C11.875 8.20432 11.9048 8.13 11.9645 8.07031C12.0242 8.01062 12.0985 7.98078 12.1875 7.98078C12.2765 7.98078 12.3508 8.01062 12.4105 8.07031C12.4702 8.13 12.5 8.20432 12.5 8.29328V11.4903C12.5 11.778 12.4036 12.0182 12.2109 12.2109C12.0182 12.4036 11.778 12.5 11.4903 12.5H3.50969ZM11.875 3.56734L6.30766 9.13469C6.24922 9.19312 6.1775 9.22437 6.0925 9.22844C6.0076 9.2324 5.93187 9.20115 5.86531 9.13469C5.79885 9.06812 5.76562 8.99437 5.76562 8.91344C5.76562 8.8325 5.79885 8.7588 5.86531 8.69234L11.4327 3.125H9.0625C8.97354 3.125 8.89922 3.09516 8.83953 3.03547C8.77984 2.97578 8.75 2.90146 8.75 2.8125C8.75 2.72354 8.77984 2.64922 8.83953 2.58953C8.89922 2.52984 8.97354 2.5 9.0625 2.5H11.9952C12.1403 2.5 12.2607 2.54786 12.3564 2.64359C12.4521 2.73932 12.5 2.85974 12.5 3.00484V5.9375C12.5 6.02646 12.4702 6.10078 12.4105 6.16047C12.3508 6.22016 12.2765 6.25 12.1875 6.25C12.0985 6.25 12.0242 6.22016 11.9645 6.16047C11.9048 6.10078 11.875 6.02646 11.875 5.9375V3.56734Z' fill='%233D3D3D' fill-opacity='0.8'/%3E%3C/svg%3E%0A");
    }
    header .gnb .gnb_wrap .depth2 > li > a[target="_blank"]:hover > span::after {
        background-image: url("data:image/svg+xml,%3Csvg width='15' height='15' viewBox='0 0 15 15' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M3.50969 12.5C3.22198 12.5 2.98177 12.4036 2.78906 12.2109C2.59635 12.0182 2.5 11.778 2.5 11.4903V3.50969C2.5 3.22198 2.59635 2.98177 2.78906 2.78906C2.98177 2.59635 3.22198 2.5 3.50969 2.5H6.70672C6.79568 2.5 6.87 2.52984 6.92969 2.58953C6.98937 2.64922 7.01922 2.72354 7.01922 2.8125C7.01922 2.90146 6.98937 2.97578 6.92969 3.03547C6.87 3.09516 6.79568 3.125 6.70672 3.125H3.50969C3.41344 3.125 3.32526 3.16505 3.24516 3.24516C3.16505 3.32526 3.125 3.41344 3.125 3.50969V11.4903C3.125 11.5866 3.16505 11.6747 3.24516 11.7548C3.32526 11.8349 3.41344 11.875 3.50969 11.875H11.4903C11.5866 11.875 11.6747 11.8349 11.7548 11.7548C11.8349 11.6747 11.875 11.5866 11.875 11.4903V8.29328C11.875 8.20432 11.9048 8.13 11.9645 8.07031C12.0242 8.01063 12.0985 7.98078 12.1875 7.98078C12.2765 7.98078 12.3508 8.01063 12.4105 8.07031C12.4702 8.13 12.5 8.20432 12.5 8.29328V11.4903C12.5 11.778 12.4036 12.0182 12.2109 12.2109C12.0182 12.4036 11.778 12.5 11.4903 12.5H3.50969ZM11.875 3.56734L6.30766 9.13469C6.24922 9.19312 6.1775 9.22437 6.0925 9.22844C6.0076 9.2324 5.93188 9.20115 5.86531 9.13469C5.79885 9.06812 5.76562 8.99437 5.76562 8.91344C5.76562 8.8325 5.79885 8.7588 5.86531 8.69234L11.4327 3.125H9.0625C8.97354 3.125 8.89922 3.09516 8.83953 3.03547C8.77984 2.97578 8.75 2.90146 8.75 2.8125C8.75 2.72354 8.77984 2.64922 8.83953 2.58953C8.89922 2.52984 8.97354 2.5 9.0625 2.5H11.9952C12.1403 2.5 12.2607 2.54786 12.3564 2.64359C12.4521 2.73932 12.5 2.85974 12.5 3.00484V5.9375C12.5 6.02646 12.4702 6.10078 12.4105 6.16047C12.3508 6.22016 12.2765 6.25 12.1875 6.25C12.0985 6.25 12.0242 6.22016 11.9645 6.16047C11.9048 6.10078 11.875 6.02646 11.875 5.9375V3.56734Z' fill='%23ED1C24'/%3E%3C/svg%3E%0A");
    }

    header .tnb {
        display: flex;
        margin-top: 40px;
    }
    header .tnb .lang {
        display: block;
        padding-left: 5px;
        /* 왼쪽에 아이콘 들어갈 자리 - 내부여백으로 처리
           아이콘을 클릭해도 링크가 적용되어야 함
           (아이콘까지 a태그이어야 함) */
        position: relative;
        font-size: 17px;
        margin-right: 34px;
    }
    header .tnb .lang::before {
        position: absolute;
        left: -17px;
        top: 0;
        width: 20px;
        height: 20px;
        content: "";
        background-position: center center;
        background-repeat: no-repeat;
        background-size: contain;
        background-image: url("data:image/svg+xml,%3Csvg width='20' height='20' viewBox='0 0 20 20' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M14.1667 14.7612V16.7917C14.1667 16.9103 14.1269 17.0094 14.0473 17.089C13.9677 17.1685 13.8686 17.2083 13.75 17.2083C13.6314 17.2083 13.5323 17.1685 13.4527 17.089C13.3731 17.0094 13.3333 16.9103 13.3333 16.7917V14.1025C13.3333 13.8835 13.4068 13.7006 13.5538 13.5537C13.7006 13.4068 13.8835 13.3333 14.1025 13.3333H16.7917C16.9103 13.3333 17.0094 13.3731 17.089 13.4527C17.1685 13.5323 17.2083 13.6314 17.2083 13.75C17.2083 13.8686 17.1685 13.9677 17.089 14.0473C17.0094 14.1269 16.9103 14.1667 16.7917 14.1667H14.7404L17.3365 16.7629C17.4145 16.8408 17.4535 16.9356 17.4535 17.0473C17.4535 17.159 17.4145 17.2553 17.3365 17.3365C17.2553 17.4284 17.1563 17.4717 17.0392 17.4663C16.9222 17.461 16.8232 17.4177 16.7421 17.3365L14.1667 14.7612ZM10 17.5C8.96472 17.5 7.9909 17.3026 7.07854 16.9079C6.16618 16.5131 5.37236 15.9781 4.69708 15.3029C4.02194 14.6276 3.48694 13.8338 3.09208 12.9215C2.69736 12.0091 2.5 11.0353 2.5 10C2.5 8.96472 2.69736 7.9909 3.09208 7.07854C3.48694 6.16618 4.02194 5.37236 4.69708 4.69708C5.37236 4.02194 6.16618 3.48694 7.07854 3.09208C7.9909 2.69736 8.96472 2.5 10 2.5C11.0353 2.5 12.0091 2.69736 12.9215 3.09208C13.8338 3.48694 14.6276 4.02194 15.3029 4.69708C15.9781 5.37236 16.5131 6.16618 16.9079 7.07854C17.3026 7.9909 17.5 8.96472 17.5 10C17.5 10.1496 17.4965 10.3077 17.4896 10.4744C17.4826 10.641 17.4669 10.7992 17.4423 10.9488C17.4252 11.0674 17.3734 11.1633 17.2869 11.2365C17.2003 11.3097 17.0962 11.3463 16.9744 11.3463C16.8697 11.3463 16.7783 11.3024 16.7004 11.2148C16.6224 11.1272 16.5919 11.0256 16.609 10.9102C16.6367 10.7606 16.6533 10.609 16.6588 10.4552C16.664 10.3013 16.6667 10.1496 16.6667 10C16.6667 9.66875 16.644 9.34021 16.5985 9.01438C16.5531 8.68854 16.4797 8.36535 16.3781 8.04479H13.016C13.0791 8.36535 13.1237 8.68854 13.1498 9.01438C13.176 9.34021 13.1892 9.66875 13.1892 10C13.1892 10.1496 13.1865 10.3069 13.181 10.4719C13.1758 10.637 13.1662 10.7944 13.1523 10.944C13.1352 11.0626 13.086 11.1592 13.0048 11.234C12.9235 11.3088 12.8237 11.3463 12.7052 11.3463C12.6005 11.3463 12.5056 11.304 12.4206 11.2196C12.3358 11.1351 12.3019 11.0352 12.319 10.9198C12.3328 10.7702 12.3424 10.6169 12.3477 10.46C12.3531 10.3029 12.3558 10.1496 12.3558 10C12.3558 9.66875 12.3427 9.34021 12.3165 9.01438C12.2903 8.68854 12.2458 8.36535 12.1827 8.04479H7.81729C7.75424 8.36535 7.70965 8.68854 7.68354 9.01438C7.65729 9.34021 7.64417 9.66875 7.64417 10C7.64417 10.3313 7.65729 10.6598 7.68354 10.9856C7.70965 11.3115 7.75424 11.6347 7.81729 11.9552H10.7371C10.8557 11.9552 10.9548 11.995 11.0344 12.0746C11.114 12.1542 11.1538 12.2533 11.1538 12.3719C11.1538 12.4903 11.114 12.5894 11.0344 12.6692C10.9548 12.7487 10.8557 12.7885 10.7371 12.7885H8.01604C8.21479 13.5033 8.47549 14.1883 8.79813 14.8438C9.12076 15.4992 9.52139 16.109 10 16.6731C10.1603 16.6731 10.3206 16.6713 10.4808 16.6675C10.6411 16.6637 10.796 16.6496 10.9454 16.625C11.0533 16.6079 11.1463 16.6376 11.2244 16.714C11.3023 16.7903 11.3413 16.8825 11.3413 16.9904C11.3413 17.1122 11.3082 17.2137 11.2421 17.2948C11.1758 17.376 11.0834 17.4252 10.9648 17.4423C10.8152 17.4669 10.6571 17.4826 10.4904 17.4896C10.3238 17.4965 10.1603 17.5 10 17.5ZM3.62188 11.9552H6.98396C6.9209 11.6347 6.87632 11.3115 6.85021 10.9856C6.82396 10.6598 6.81083 10.3313 6.81083 10C6.81083 9.66875 6.82396 9.34021 6.85021 9.01438C6.87632 8.68854 6.9209 8.36535 6.98396 8.04479H3.62188C3.52035 8.36535 3.44688 8.68854 3.40146 9.01438C3.35604 9.34021 3.33333 9.66875 3.33333 10C3.33333 10.3313 3.35604 10.6598 3.40146 10.9856C3.44688 11.3115 3.52035 11.6347 3.62188 11.9552ZM8.93917 16.5802C8.51819 16.0117 8.16056 15.4089 7.86625 14.7717C7.57181 14.1343 7.33542 13.4733 7.15708 12.7885H3.96146C4.4284 13.7959 5.10097 14.6359 5.97917 15.3085C6.85736 15.981 7.84403 16.4049 8.93917 16.5802ZM3.96146 7.21146H7.15708C7.31417 6.51604 7.53715 5.84965 7.82604 5.21229C8.11507 4.57507 8.48611 3.97757 8.93917 3.41979C7.83333 3.58438 6.84403 4.00292 5.97125 4.67542C5.09833 5.34806 4.4284 6.1934 3.96146 7.21146ZM8.01604 7.21146H11.984C11.7959 6.49674 11.5326 5.81701 11.194 5.17229C10.8552 4.52757 10.4572 3.91243 10 3.32688C9.53208 3.89104 9.13146 4.50083 8.79813 5.15625C8.46479 5.81167 8.2041 6.49674 8.01604 7.21146ZM12.8429 7.21146H16.0385C15.5716 6.1934 14.9017 5.34542 14.0288 4.6675C13.156 3.98958 12.1667 3.57368 11.0608 3.41979C11.4818 3.98826 11.8315 4.59382 12.1098 5.23646C12.3881 5.8791 12.6325 6.53743 12.8429 7.21146Z' fill='white'/%3E%3C/svg%3E%0A");
    }
    header .tnb .atera {
        display: block;
        width: 102px;
        height: 24px;
        line-height: 24px;
        /* 행간과 높이를 동일하게 주면 글자가 위아래 가운데
           왼쪽 여백은 padding으로 주기 */
        padding-left: 15px;
        border: 1px solid rgba(255,255,255,0.6);
        border-radius: 20px;
        position: relative; /* after(오른쪽에 들어감) 정렬의 기준 */
        
    }
    header .tnb .atera::after {
        position: absolute;
        right: 12px;
        top: 3px;
        width: 18px;
        height: 18px;
        content: "";
        background-position: center center;
        background-repeat: no-repeat;
        background-size: contain;
        background-image: url("data:image/svg+xml,%3Csvg width='18' height='18' viewBox='0 0 18 18' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M4.21162 15C3.86637 15 3.57812 14.8844 3.34688 14.6531C3.11563 14.4219 3 14.1336 3 13.7884V4.21162C3 3.86637 3.11563 3.57812 3.34688 3.34688C3.57812 3.11563 3.86637 3 4.21162 3H8.04806C8.15481 3 8.244 3.03581 8.31563 3.10744C8.38725 3.17906 8.42306 3.26825 8.42306 3.375C8.42306 3.48175 8.38725 3.57094 8.31563 3.64256C8.244 3.71419 8.15481 3.75 8.04806 3.75H4.21162C4.09613 3.75 3.99031 3.79806 3.89419 3.89419C3.79806 3.99031 3.75 4.09613 3.75 4.21162V13.7884C3.75 13.9039 3.79806 14.0097 3.89419 14.1058C3.99031 14.2019 4.09613 14.25 4.21162 14.25H13.7884C13.9039 14.25 14.0097 14.2019 14.1058 14.1058C14.2019 14.0097 14.25 13.9039 14.25 13.7884V9.95194C14.25 9.84519 14.2858 9.756 14.3574 9.68438C14.4291 9.61275 14.5183 9.57694 14.625 9.57694C14.7318 9.57694 14.8209 9.61275 14.8926 9.68438C14.9642 9.756 15 9.84519 15 9.95194V13.7884C15 14.1336 14.8844 14.4219 14.6531 14.6531C14.4219 14.8844 14.1336 15 13.7884 15H4.21162ZM14.25 4.28081L7.56919 10.9616C7.49906 11.0318 7.413 11.0693 7.311 11.0741C7.20913 11.0789 7.11825 11.0414 7.03838 10.9616C6.95863 10.8818 6.91875 10.7933 6.91875 10.6961C6.91875 10.599 6.95863 10.5106 7.03838 10.4308L13.7192 3.75H10.875C10.7683 3.75 10.6791 3.71419 10.6074 3.64256C10.5358 3.57094 10.5 3.48175 10.5 3.375C10.5 3.26825 10.5358 3.17906 10.6074 3.10744C10.6791 3.03581 10.7683 3 10.875 3H14.3942C14.5683 3 14.7128 3.05744 14.8277 3.17231C14.9426 3.28719 15 3.43169 15 3.60581V7.125C15 7.23175 14.9642 7.32094 14.8926 7.39256C14.8209 7.46419 14.7318 7.5 14.625 7.5C14.5183 7.5 14.4291 7.46419 14.3574 7.39256C14.2858 7.32094 14.25 7.23175 14.25 7.125V4.28081Z' fill='white'/%3E%3C/svg%3E%0A");
    }

    /* header에 오버하거나, 스크롤을 내려서 고정되었을 때 */
    header.fixed {
        position: fixed; /* 고정 */
        background-color: #fff;
        color: #1d1d1d;
    }
    header.fixed .logo a::before {
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        content: "";
        background-position: center center;
        background-repeat: no-repeat;
        background-size: contain;
        background-image: url("data:image/svg+xml,%3Csvg width='160' height='53' viewBox='0 0 160 53' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M127.382 12.9637C127.382 13.4146 127.447 13.882 127.628 14.3248C128.423 16.2927 130.448 17.5063 133.023 16.4813C133.638 16.2353 150.669 9.37221 150.669 9.37221C150.669 9.37221 143.961 26.3783 143.707 27.0097C142.731 29.445 143.904 31.6507 145.897 32.3887C146.339 32.5527 146.799 32.6347 147.249 32.6265C148.881 32.6183 150.316 31.6589 151.021 29.7402C151.128 29.4532 159.516 6.42033 159.697 5.87096C159.803 5.54297 160 4.7722 160 4.23922C160 3.09947 159.582 2.02532 158.77 1.21355C157.975 0.409983 156.909 0 155.785 0C155.236 0 154.793 0.0983959 154.121 0.311587C153.719 0.442782 132.097 8.48665 130.252 9.17542C128.407 9.86419 127.382 11.3401 127.39 12.9637' fill='%23ED1C24'/%3E%3Cpath d='M86.8672 25.9519V25.46H73.7559V28.8136H81.3734C79.3891 35.0946 72.2964 38.7844 72.2964 38.7844L74.1905 41.4329C74.1905 41.4329 86.8672 36.2015 86.8672 25.9437V25.9519Z' fill='%23454B52'/%3E%3Cpath d='M82.7264 48.2219V41.7031H78.0771V49.05C78.0771 51.3459 79.9057 53.0023 82.4148 53.0023H96.8216V49.6568H84.3499C83.2183 49.6568 82.7428 49.2058 82.7182 48.2219H82.7264Z' fill='%23454B52'/%3E%3Cpath d='M86.3424 31.6426V34.9962H91.8772V43.0811H96.5264V25.1074H91.8772V31.6426H86.3424Z' fill='%23454B52'/%3E%3Cpath d='M126.406 38.5797H131.055V24.9683H126.406V29.2075H121.56V32.5201H126.406V38.5797Z' fill='%23454B52'/%3E%3Cpath d='M22.1227 41.4492H4.42786V49.0503C4.42786 51.3462 6.25638 53.0025 8.76548 53.0025H23.1559V42.4824C23.1559 41.9084 22.6885 41.4492 22.1227 41.4492ZM18.5067 49.6571H10.7006C9.56904 49.6571 9.08526 49.2143 9.06887 48.2221V44.8111H18.5067V49.6571Z' fill='%23454B52'/%3E%3Cpath d='M23.4674 25.5093V25.3535H4.17363V28.7072H18.605C18.605 28.9286 18.605 29.2074 18.605 29.4779C18.605 32.5938 18.4492 34.6437 18.3672 35.4801H0V38.8338H28.297V35.4801H22.5081C22.7869 34.4305 23.4756 31.1835 23.4756 25.5093H23.4674Z' fill='%23454B52'/%3E%3Cpath d='M52.363 43.1383C56.2251 42.2937 59.0786 39.3992 59.0786 35.9718C59.0786 34.1268 58.2504 32.4377 56.8892 31.134H61.8254V27.7803H52.363V24.6152H47.722V27.7803H38.2596V31.134H43.1958C41.8347 32.4377 41.0065 34.1186 41.0065 35.9718C41.0065 39.4074 43.86 42.2937 47.7302 43.1383V46.5329H35.9063V49.8866H64.1951V46.5329H52.3712V43.1383H52.363ZM45.7787 35.8652C45.7787 33.5775 47.6892 31.7079 50.0343 31.7079C52.3794 31.7079 54.29 33.5693 54.29 35.8652C54.29 38.1611 52.3794 40.0224 50.0343 40.0224C47.6892 40.0224 45.7787 38.1611 45.7787 35.8652Z' fill='%23454B52'/%3E%3Cpath d='M117.518 38.2925H122.019C121.831 37.2019 120.182 28.3955 115.894 25.3452H110.704L106.71 38.3991H111.376L114.033 29.0023C116.271 31.6262 117.362 37.4315 117.509 38.2925H117.518Z' fill='%23454B52'/%3E%3Cpath d='M118.444 49.772C117.263 49.772 117.05 49.4686 117.05 48.4683V48.0501H131.063V40.9984C131.063 40.3916 130.621 39.916 129.989 39.916H112.483V43.1467H126.611V44.8768H112.606V49.0504C112.606 51.4693 114.344 53.0027 116.944 53.0027H131.367V49.772H118.444Z' fill='%23454B52'/%3E%3C/svg%3E%0A");
    }

    header.fixed .tnb .lang {
        color: #1d1d1d;
        display: block;
        padding-left: 5px;
        /* 왼쪽에 아이콘 들어갈 자리 - 내부여백으로 처리
        아이콘을 클릭해도 링크가 적용되어야 함
        (아이콘까지 a태그이어야 함) */
        position: relative;
        font-size: 17px;
        margin-right: 34px;
    }

    header.fixed .tnb .lang::before {
        position: absolute;
        left: -17px;
        top: 0;
        width: 20px;
        height: 20px;
        content: "";
        background-position: center center;
        background-repeat: no-repeat;
        background-size: contain;
        background-image: url("data:image/svg+xml,%3Csvg width='20' height='20' viewBox='0 0 20 20' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M14.1667 14.7612V16.7917C14.1667 16.9103 14.1269 17.0094 14.0473 17.089C13.9677 17.1685 13.8686 17.2083 13.75 17.2083C13.6314 17.2083 13.5323 17.1685 13.4527 17.089C13.3731 17.0094 13.3333 16.9103 13.3333 16.7917V14.1025C13.3333 13.8835 13.4068 13.7006 13.5538 13.5537C13.7006 13.4068 13.8835 13.3333 14.1025 13.3333H16.7917C16.9103 13.3333 17.0094 13.3731 17.089 13.4527C17.1685 13.5323 17.2083 13.6314 17.2083 13.75C17.2083 13.8686 17.1685 13.9677 17.089 14.0473C17.0094 14.1269 16.9103 14.1667 16.7917 14.1667H14.7404L17.3365 16.7629C17.4145 16.8408 17.4535 16.9356 17.4535 17.0473C17.4535 17.159 17.4145 17.2553 17.3365 17.3365C17.2553 17.4284 17.1563 17.4717 17.0392 17.4663C16.9222 17.461 16.8232 17.4177 16.7421 17.3365L14.1667 14.7612ZM10 17.5C8.96472 17.5 7.9909 17.3026 7.07854 16.9079C6.16618 16.5131 5.37236 15.9781 4.69708 15.3029C4.02194 14.6276 3.48694 13.8338 3.09208 12.9215C2.69736 12.0091 2.5 11.0353 2.5 10C2.5 8.96472 2.69736 7.9909 3.09208 7.07854C3.48694 6.16618 4.02194 5.37236 4.69708 4.69708C5.37236 4.02194 6.16618 3.48694 7.07854 3.09208C7.9909 2.69736 8.96472 2.5 10 2.5C11.0353 2.5 12.0091 2.69736 12.9215 3.09208C13.8338 3.48694 14.6276 4.02194 15.3029 4.69708C15.9781 5.37236 16.5131 6.16618 16.9079 7.07854C17.3026 7.9909 17.5 8.96472 17.5 10C17.5 10.1496 17.4965 10.3077 17.4896 10.4744C17.4826 10.641 17.4669 10.7992 17.4423 10.9488C17.4252 11.0674 17.3734 11.1633 17.2869 11.2365C17.2003 11.3097 17.0962 11.3463 16.9744 11.3463C16.8697 11.3463 16.7783 11.3024 16.7004 11.2148C16.6224 11.1272 16.5919 11.0256 16.609 10.9102C16.6367 10.7606 16.6533 10.609 16.6588 10.4552C16.664 10.3013 16.6667 10.1496 16.6667 10C16.6667 9.66875 16.644 9.34021 16.5985 9.01438C16.5531 8.68854 16.4797 8.36535 16.3781 8.04479H13.016C13.0791 8.36535 13.1237 8.68854 13.1498 9.01438C13.176 9.34021 13.1892 9.66875 13.1892 10C13.1892 10.1496 13.1865 10.3069 13.181 10.4719C13.1758 10.637 13.1662 10.7944 13.1523 10.944C13.1352 11.0626 13.086 11.1592 13.0048 11.234C12.9235 11.3088 12.8237 11.3463 12.7052 11.3463C12.6005 11.3463 12.5056 11.304 12.4206 11.2196C12.3358 11.1351 12.3019 11.0352 12.319 10.9198C12.3328 10.7702 12.3424 10.6169 12.3477 10.46C12.3531 10.3029 12.3558 10.1496 12.3558 10C12.3558 9.66875 12.3427 9.34021 12.3165 9.01438C12.2903 8.68854 12.2458 8.36535 12.1827 8.04479H7.81729C7.75424 8.36535 7.70965 8.68854 7.68354 9.01438C7.65729 9.34021 7.64417 9.66875 7.64417 10C7.64417 10.3313 7.65729 10.6598 7.68354 10.9856C7.70965 11.3115 7.75424 11.6347 7.81729 11.9552H10.7371C10.8557 11.9552 10.9548 11.995 11.0344 12.0746C11.114 12.1542 11.1538 12.2533 11.1538 12.3719C11.1538 12.4903 11.114 12.5894 11.0344 12.6692C10.9548 12.7488 10.8557 12.7885 10.7371 12.7885H8.01604C8.21479 13.5033 8.47549 14.1883 8.79813 14.8438C9.12076 15.4992 9.52139 16.109 10 16.6731C10.1603 16.6731 10.3206 16.6712 10.4808 16.6675C10.6411 16.6637 10.796 16.6496 10.9454 16.625C11.0533 16.6079 11.1463 16.6376 11.2244 16.714C11.3023 16.7903 11.3413 16.8825 11.3413 16.9904C11.3413 17.1122 11.3082 17.2137 11.2421 17.2948C11.1758 17.376 11.0834 17.4252 10.9648 17.4423C10.8152 17.4669 10.6571 17.4826 10.4904 17.4896C10.3238 17.4965 10.1603 17.5 10 17.5ZM3.62188 11.9552H6.98396C6.9209 11.6347 6.87632 11.3115 6.85021 10.9856C6.82396 10.6598 6.81083 10.3313 6.81083 10C6.81083 9.66875 6.82396 9.34021 6.85021 9.01438C6.87632 8.68854 6.9209 8.36535 6.98396 8.04479H3.62188C3.52035 8.36535 3.44688 8.68854 3.40146 9.01438C3.35604 9.34021 3.33333 9.66875 3.33333 10C3.33333 10.3313 3.35604 10.6598 3.40146 10.9856C3.44688 11.3115 3.52035 11.6347 3.62188 11.9552ZM8.93917 16.5802C8.51819 16.0117 8.16056 15.4089 7.86625 14.7717C7.57181 14.1343 7.33542 13.4733 7.15708 12.7885H3.96146C4.4284 13.7959 5.10097 14.6359 5.97917 15.3085C6.85736 15.981 7.84403 16.4049 8.93917 16.5802ZM3.96146 7.21146H7.15708C7.31417 6.51604 7.53715 5.84965 7.82604 5.21229C8.11507 4.57507 8.48611 3.97757 8.93917 3.41979C7.83333 3.58438 6.84403 4.00292 5.97125 4.67542C5.09833 5.34806 4.4284 6.1934 3.96146 7.21146ZM8.01604 7.21146H11.984C11.7959 6.49674 11.5326 5.81701 11.194 5.17229C10.8552 4.52757 10.4572 3.91243 10 3.32688C9.53208 3.89104 9.13146 4.50083 8.79813 5.15625C8.46479 5.81167 8.2041 6.49674 8.01604 7.21146ZM12.8429 7.21146H16.0385C15.5716 6.1934 14.9017 5.34542 14.0288 4.6675C13.156 3.98958 12.1667 3.57368 11.0608 3.41979C11.4818 3.98826 11.8315 4.59382 12.1098 5.23646C12.3881 5.8791 12.6325 6.53743 12.8429 7.21146Z' fill='%231D1D1D'/%3E%3C/svg%3E%0A");
    }
    header.fixed .tnb .atera {
        color: #1d1d1d;
        display: block;
        width: 102px;
        height: 24px;
        line-height: 24px;
        /* 행간과 높이를 동일하게 주면 글자가 위아래 가운데
        왼쪽 여백은 padding으로 주기 */
        padding-left: 15px;
        border: 1px solid #1d1d1d;
        border-radius: 20px;
        position: relative; /* after(오른쪽에 들어감) 정렬의 기준 */
        
    }
    header.fixed .tnb .atera::after {
        position: absolute;
        right: 12px;
        top: 3px;
        width: 18px;
        height: 18px;
        content: "";
        background-position: center center;
        background-repeat: no-repeat;
        background-size: contain;
        background-image: url("data:image/svg+xml,%3Csvg width='18' height='18' viewBox='0 0 18 18' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M4.21162 15C3.86637 15 3.57813 14.8844 3.34688 14.6531C3.11563 14.4219 3 14.1336 3 13.7884V4.21162C3 3.86637 3.11563 3.57813 3.34688 3.34688C3.57813 3.11563 3.86637 3 4.21162 3H8.04806C8.15481 3 8.244 3.03581 8.31563 3.10744C8.38725 3.17906 8.42306 3.26825 8.42306 3.375C8.42306 3.48175 8.38725 3.57094 8.31563 3.64256C8.244 3.71419 8.15481 3.75 8.04806 3.75H4.21162C4.09612 3.75 3.99031 3.79806 3.89419 3.89419C3.79806 3.99031 3.75 4.09612 3.75 4.21162V13.7884C3.75 13.9039 3.79806 14.0097 3.89419 14.1058C3.99031 14.2019 4.09612 14.25 4.21162 14.25H13.7884C13.9039 14.25 14.0097 14.2019 14.1058 14.1058C14.2019 14.0097 14.25 13.9039 14.25 13.7884V9.95194C14.25 9.84519 14.2858 9.756 14.3574 9.68438C14.4291 9.61275 14.5183 9.57694 14.625 9.57694C14.7318 9.57694 14.8209 9.61275 14.8926 9.68438C14.9642 9.756 15 9.84519 15 9.95194V13.7884C15 14.1336 14.8844 14.4219 14.6531 14.6531C14.4219 14.8844 14.1336 15 13.7884 15H4.21162ZM14.25 4.28081L7.56919 10.9616C7.49906 11.0318 7.413 11.0693 7.311 11.0741C7.20913 11.0789 7.11825 11.0414 7.03838 10.9616C6.95863 10.8818 6.91875 10.7933 6.91875 10.6961C6.91875 10.599 6.95863 10.5106 7.03838 10.4308L13.7192 3.75H10.875C10.7683 3.75 10.6791 3.71419 10.6074 3.64256C10.5358 3.57094 10.5 3.48175 10.5 3.375C10.5 3.26825 10.5358 3.17906 10.6074 3.10744C10.6791 3.03581 10.7683 3 10.875 3H14.3942C14.5683 3 14.7128 3.05744 14.8277 3.17231C14.9426 3.28719 15 3.43169 15 3.60581V7.125C15 7.23175 14.9642 7.32094 14.8926 7.39256C14.8209 7.46419 14.7318 7.5 14.625 7.5C14.5183 7.5 14.4291 7.46419 14.3574 7.39256C14.2858 7.32094 14.25 7.23175 14.25 7.125V4.28081Z' fill='%231D1D1D'/%3E%3C/svg%3E%0A");
    }

    header.fixed .tnb .lang:hover {
        color: #ED1C24;
        display: block;
        padding-left: 5px;
        /* 왼쪽에 아이콘 들어갈 자리 - 내부여백으로 처리
        아이콘을 클릭해도 링크가 적용되어야 함
        (아이콘까지 a태그이어야 함) */
        position: relative;
        font-size: 17px;
        margin-right: 34px;
    }

    header.fixed .tnb .lang:hover::before {
        position: absolute;
        left: -17px;
        top: 0;
        width: 20px;
        height: 20px;
        content: "";
        background-position: center center;
        background-repeat: no-repeat;
        background-size: contain;
        background-image: url("data:image/svg+xml,%3Csvg width='20' height='20' viewBox='0 0 20 20' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M14.1667 14.7612V16.7917C14.1667 16.9103 14.1269 17.0094 14.0473 17.089C13.9677 17.1685 13.8686 17.2083 13.75 17.2083C13.6314 17.2083 13.5323 17.1685 13.4527 17.089C13.3731 17.0094 13.3333 16.9103 13.3333 16.7917V14.1025C13.3333 13.8835 13.4068 13.7006 13.5538 13.5537C13.7006 13.4068 13.8835 13.3333 14.1025 13.3333H16.7917C16.9103 13.3333 17.0094 13.3731 17.089 13.4527C17.1685 13.5323 17.2083 13.6314 17.2083 13.75C17.2083 13.8686 17.1685 13.9677 17.089 14.0473C17.0094 14.1269 16.9103 14.1667 16.7917 14.1667H14.7404L17.3365 16.7629C17.4145 16.8408 17.4535 16.9356 17.4535 17.0473C17.4535 17.159 17.4145 17.2553 17.3365 17.3365C17.2553 17.4284 17.1563 17.4717 17.0392 17.4663C16.9222 17.461 16.8232 17.4177 16.7421 17.3365L14.1667 14.7612ZM10 17.5C8.96472 17.5 7.9909 17.3026 7.07854 16.9079C6.16618 16.5131 5.37236 15.9781 4.69708 15.3029C4.02194 14.6276 3.48694 13.8338 3.09208 12.9215C2.69736 12.0091 2.5 11.0353 2.5 10C2.5 8.96472 2.69736 7.9909 3.09208 7.07854C3.48694 6.16618 4.02194 5.37236 4.69708 4.69708C5.37236 4.02194 6.16618 3.48694 7.07854 3.09208C7.9909 2.69736 8.96472 2.5 10 2.5C11.0353 2.5 12.0091 2.69736 12.9215 3.09208C13.8338 3.48694 14.6276 4.02194 15.3029 4.69708C15.9781 5.37236 16.5131 6.16618 16.9079 7.07854C17.3026 7.9909 17.5 8.96472 17.5 10C17.5 10.1496 17.4965 10.3077 17.4896 10.4744C17.4826 10.641 17.4669 10.7992 17.4423 10.9488C17.4252 11.0674 17.3734 11.1633 17.2869 11.2365C17.2003 11.3097 17.0962 11.3463 16.9744 11.3463C16.8697 11.3463 16.7783 11.3024 16.7004 11.2148C16.6224 11.1272 16.5919 11.0256 16.609 10.9102C16.6367 10.7606 16.6533 10.609 16.6588 10.4552C16.664 10.3013 16.6667 10.1496 16.6667 10C16.6667 9.66875 16.644 9.34021 16.5985 9.01438C16.5531 8.68854 16.4797 8.36535 16.3781 8.04479H13.016C13.0791 8.36535 13.1237 8.68854 13.1498 9.01438C13.176 9.34021 13.1892 9.66875 13.1892 10C13.1892 10.1496 13.1865 10.3069 13.181 10.4719C13.1758 10.637 13.1662 10.7944 13.1523 10.944C13.1352 11.0626 13.086 11.1592 13.0048 11.234C12.9235 11.3088 12.8237 11.3463 12.7052 11.3463C12.6005 11.3463 12.5056 11.304 12.4206 11.2196C12.3358 11.1351 12.3019 11.0352 12.319 10.9198C12.3328 10.7702 12.3424 10.6169 12.3477 10.46C12.3531 10.3029 12.3558 10.1496 12.3558 10C12.3558 9.66875 12.3427 9.34021 12.3165 9.01438C12.2903 8.68854 12.2458 8.36535 12.1827 8.04479H7.81729C7.75424 8.36535 7.70965 8.68854 7.68354 9.01438C7.65729 9.34021 7.64417 9.66875 7.64417 10C7.64417 10.3313 7.65729 10.6598 7.68354 10.9856C7.70965 11.3115 7.75424 11.6347 7.81729 11.9552H10.7371C10.8557 11.9552 10.9548 11.995 11.0344 12.0746C11.114 12.1542 11.1538 12.2533 11.1538 12.3719C11.1538 12.4903 11.114 12.5894 11.0344 12.6692C10.9548 12.7487 10.8557 12.7885 10.7371 12.7885H8.01604C8.21479 13.5033 8.47549 14.1883 8.79813 14.8438C9.12076 15.4992 9.52139 16.109 10 16.6731C10.1603 16.6731 10.3206 16.6713 10.4808 16.6675C10.6411 16.6637 10.796 16.6496 10.9454 16.625C11.0533 16.6079 11.1463 16.6376 11.2244 16.714C11.3023 16.7903 11.3413 16.8825 11.3413 16.9904C11.3413 17.1122 11.3082 17.2137 11.2421 17.2948C11.1758 17.376 11.0834 17.4252 10.9648 17.4423C10.8152 17.4669 10.6571 17.4826 10.4904 17.4896C10.3238 17.4965 10.1603 17.5 10 17.5ZM3.62188 11.9552H6.98396C6.9209 11.6347 6.87632 11.3115 6.85021 10.9856C6.82396 10.6598 6.81083 10.3313 6.81083 10C6.81083 9.66875 6.82396 9.34021 6.85021 9.01438C6.87632 8.68854 6.9209 8.36535 6.98396 8.04479H3.62188C3.52035 8.36535 3.44688 8.68854 3.40146 9.01438C3.35604 9.34021 3.33333 9.66875 3.33333 10C3.33333 10.3313 3.35604 10.6598 3.40146 10.9856C3.44688 11.3115 3.52035 11.6347 3.62188 11.9552ZM8.93917 16.5802C8.51819 16.0117 8.16056 15.4089 7.86625 14.7717C7.57181 14.1343 7.33542 13.4733 7.15708 12.7885H3.96146C4.4284 13.7959 5.10097 14.6359 5.97917 15.3085C6.85736 15.981 7.84403 16.4049 8.93917 16.5802ZM3.96146 7.21146H7.15708C7.31417 6.51604 7.53715 5.84965 7.82604 5.21229C8.11507 4.57507 8.48611 3.97757 8.93917 3.41979C7.83333 3.58438 6.84403 4.00292 5.97125 4.67542C5.09833 5.34806 4.4284 6.1934 3.96146 7.21146ZM8.01604 7.21146H11.984C11.7959 6.49674 11.5326 5.81701 11.194 5.17229C10.8552 4.52757 10.4572 3.91243 10 3.32688C9.53208 3.89104 9.13146 4.50083 8.79813 5.15625C8.46479 5.81167 8.2041 6.49674 8.01604 7.21146ZM12.8429 7.21146H16.0385C15.5716 6.1934 14.9017 5.34542 14.0288 4.6675C13.156 3.98958 12.1667 3.57368 11.0608 3.41979C11.4818 3.98826 11.8315 4.59382 12.1098 5.23646C12.3881 5.8791 12.6325 6.53743 12.8429 7.21146Z' fill='%23ED1C24'/%3E%3C/svg%3E%0A");
    }
    header.fixed .tnb .atera:hover {
        color: #fff;
        display: block;
        width: 102px;
        height: 24px;
        line-height: 24px;
        /* 행간과 높이를 동일하게 주면 글자가 위아래 가운데
        왼쪽 여백은 padding으로 주기 */
        padding-left: 15px;
        border: 1px solid #ED1C24;
        background-color: #ED1C24;
        border-radius: 20px;
        position: relative; /* after(오른쪽에 들어감) 정렬의 기준 */
        
    }
    header.fixed .tnb .atera:hover::after {
        position: absolute;
        right: 12px;
        top: 3px;
        width: 18px;
        height: 18px;
        content: "";
        background-position: center center;
        background-repeat: no-repeat;
        background-size: contain;
        background-image: url("data:image/svg+xml,%3Csvg width='18' height='18' viewBox='0 0 18 18' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M4.21162 15C3.86637 15 3.57812 14.8844 3.34688 14.6531C3.11563 14.4219 3 14.1336 3 13.7884V4.21162C3 3.86637 3.11563 3.57812 3.34688 3.34688C3.57812 3.11563 3.86637 3 4.21162 3H8.04806C8.15481 3 8.244 3.03581 8.31563 3.10744C8.38725 3.17906 8.42306 3.26825 8.42306 3.375C8.42306 3.48175 8.38725 3.57094 8.31563 3.64256C8.244 3.71419 8.15481 3.75 8.04806 3.75H4.21162C4.09613 3.75 3.99031 3.79806 3.89419 3.89419C3.79806 3.99031 3.75 4.09613 3.75 4.21162V13.7884C3.75 13.9039 3.79806 14.0097 3.89419 14.1058C3.99031 14.2019 4.09613 14.25 4.21162 14.25H13.7884C13.9039 14.25 14.0097 14.2019 14.1058 14.1058C14.2019 14.0097 14.25 13.9039 14.25 13.7884V9.95194C14.25 9.84519 14.2858 9.756 14.3574 9.68438C14.4291 9.61275 14.5183 9.57694 14.625 9.57694C14.7318 9.57694 14.8209 9.61275 14.8926 9.68438C14.9642 9.756 15 9.84519 15 9.95194V13.7884C15 14.1336 14.8844 14.4219 14.6531 14.6531C14.4219 14.8844 14.1336 15 13.7884 15H4.21162ZM14.25 4.28081L7.56919 10.9616C7.49906 11.0318 7.413 11.0693 7.311 11.0741C7.20913 11.0789 7.11825 11.0414 7.03838 10.9616C6.95863 10.8818 6.91875 10.7933 6.91875 10.6961C6.91875 10.599 6.95863 10.5106 7.03838 10.4308L13.7192 3.75H10.875C10.7683 3.75 10.6791 3.71419 10.6074 3.64256C10.5358 3.57094 10.5 3.48175 10.5 3.375C10.5 3.26825 10.5358 3.17906 10.6074 3.10744C10.6791 3.03581 10.7683 3 10.875 3H14.3942C14.5683 3 14.7128 3.05744 14.8277 3.17231C14.9426 3.28719 15 3.43169 15 3.60581V7.125C15 7.23175 14.9642 7.32094 14.8926 7.39256C14.8209 7.46419 14.7318 7.5 14.625 7.5C14.5183 7.5 14.4291 7.46419 14.3574 7.39256C14.2858 7.32094 14.25 7.23175 14.25 7.125V4.28081Z' fill='white'/%3E%3C/svg%3E%0A");
    }

    /* 메뉴에 마우스를 오버한 경우 */
    header.menu_over::before {
        position: absolute; /* header를 기준으로 정렬 */
        left: 0;
        top: 0;
        z-index: -1;
        /* 정렬의 기준이 되는 header 내부에서 가장 하단으로 배치한다는 명령
           절대로 visual 아래로 내려가지 않음 */
        width: 100%;
        height: 450px; /* 디자인 한 만큼의 높이 */
        background-color: #fff;
        box-shadow: 0 5px 10px rgba(0,0,0,0.1);
        content: "";
    }
    header.menu_over::after {
        position: absolute;
        left: 0;
        top: 100px;
        width: 100%;
        height: 1px;
        background-color: #E0E0E0;
        content: "";
    }
    header.menu_over .gnb .gnb_wrap .depth2 {
        display: block;
    }
}
@media screen and (max-width:1300px) and (min-width:1025px){
    /* 1300px 이하 ~ 1025px 까지 */
    header .gnb .gnb_wrap .depth1 > li {
        width: 125px;
    }
    header.fixed .tnb .lang {
        margin-right: 15px;
    }
    header.fixed .tnb .lang:hover {
        margin-right: 15px;
    }
}
@media screen and (max-width:1024px){
    /* 11024px 이하  - 모바일 버전 */
    header .gnb .gnb_open {
        position: absolute; /* header를 기준으로 정렬 */
        right: 0;
        top: 0;
        width: 60px;
        height: 100%; /* header의 높이와 동일 */
        font-size: 0;
        line-height: 0;
    }
    header .gnb .gnb_open::before {
        position: absolute;
        left: 50%;
        top: 50%; /* gnb_open 사이즈가 바뀌어도 아이콘을 위아래/좌우 가운데 배치 */
        transform: translate(-50%, -50%);
        width: 40px;
        height: 40px;
        content: "";
        background-position: center center;
        background-repeat: no-repeat;
        background-size: contain;
        background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M4 17.269V16.269H20V17.269H4ZM4 12.4997V11.4997H20V12.4997H4ZM4 7.73047V6.73047H20V7.73047H4Z' fill='white'/%3E%3C/svg%3E%0A");
    }
    header .gnb .gnb_wrap {
        display: none;
        position: absolute; /* header를 기준으로 정렬 */
        left: 0;
        top: 0;
        width: 100%;
        height: 100vh; /* 브라우저 높이 */
        background-color: #fff;
        color: #1d1d1d;
    }
    header .gnb .gnb_wrap ul.depth1 {
        margin-top: 100px; /* header의 높이만큼 */
        height: calc(100vh - 100px);
        overflow-y: auto;
        /* 좌우스크롤 바는 금지,
        세로스크롤 바는 만약 내부 콘텐츠의 길이가 높이보다 길면 그 때만 스크롤바 생김 */
    }
    header .gnb .gnb_wrap ul.depth1 > li {
        border-bottom: 1px solid #E7E7E7;
    }
    header .gnb .gnb_wrap ul.depth1 > li:first-child {
        border-top: 1px solid #E7E7E7;
    }
    header .gnb .gnb_wrap ul.depth1 > li > a {
        display: block;
        line-height: 3;
        font-size: 20px;
        font-weight: 500;
        padding: 0 20px;
        color: #1d1d1d;
        position: relative;
    }
    header .gnb .gnb_wrap ul.depth1 > li.open > a {
        color: #E41B22;
    }
    header .gnb .gnb_wrap ul.depth1 > li > a::before {
        position: absolute;
        right: 20px;
        top: 18px;
        width: 24px;
        height: 24px;
        content: "";
        background-position: center center;
        background-repeat: no-repeat;
        background-size: contain;
        background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M11.5 12.5H6.5C6.35833 12.5 6.23958 12.452 6.14375 12.356C6.04792 12.26 6 12.1411 6 11.9992C6 11.8574 6.04792 11.7388 6.14375 11.6433C6.23958 11.5478 6.35833 11.5 6.5 11.5H11.5V6.5C11.5 6.35833 11.548 6.23958 11.644 6.14375C11.74 6.04792 11.8589 6 12.0008 6C12.1426 6 12.2613 6.04792 12.3568 6.14375C12.4523 6.23958 12.5 6.35833 12.5 6.5V11.5H17.5C17.6417 11.5 17.7604 11.548 17.8562 11.644C17.9521 11.74 18 11.8589 18 12.0008C18 12.1426 17.9521 12.2613 17.8562 12.3568C17.7604 12.4523 17.6417 12.5 17.5 12.5H12.5V17.5C12.5 17.6417 12.452 17.7604 12.356 17.8562C12.26 17.9521 12.1411 18 11.9992 18C11.8574 18 11.7388 17.9521 11.6433 17.8562C11.5478 17.7604 11.5 17.6417 11.5 17.5V12.5Z' fill='%231D1D1D'/%3E%3C/svg%3E%0A");
    }
    header .gnb .gnb_wrap ul.depth1 > li.open > a::before {
        background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg clip-path='url(%23clip0_37_574)'%3E%3Cpath d='M6.5 12.5C6.35833 12.5 6.23958 12.452 6.14375 12.356C6.04792 12.26 6 12.1411 6 11.9993C6 11.8574 6.04792 11.7388 6.14375 11.6433C6.23958 11.5478 6.35833 11.5 6.5 11.5H17.5C17.6417 11.5 17.7604 11.548 17.8562 11.644C17.9521 11.74 18 11.8589 18 12.0008C18 12.1426 17.9521 12.2612 17.8562 12.3567C17.7604 12.4522 17.6417 12.5 17.5 12.5H6.5Z' fill='%23E41B22'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='clip0_37_574'%3E%3Crect width='24' height='24' fill='white'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E%0A");
    }
    header .gnb .gnb_wrap ul.depth2 {
        display: none;
        background-color: #EDEDED;
        padding: 20px 37px;
    }
    header .gnb .gnb_wrap .open ul.depth2 {
        display: block;
    }
    header .gnb .gnb_wrap ul.depth2 > li > a {
        display: block;
        line-height: 2;
        font-size: 16px;
    }

    header .gnb .gnb_close {
        display: none;
        position: absolute; /* header를 기준으로 정렬 */
        right: 0;
        top: 0;
        width: 60px;
        height: 100%; /* header의 높이와 동일 */
        font-size: 0;
        line-height: 0;
    }
    header .gnb .gnb_close::before {
        position: absolute;
        left: 50%;
        top: 50%; /* gnb_open 사이즈가 바뀌어도 아이콘을 위아래/좌우 가운데 배치 */
        transform: translate(-50%, -50%);
        width: 40px;
        height: 40px;
        content: "";
        background-position: center center;
        background-repeat: no-repeat;
        background-size: contain;
        background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M12 12.708L6.75372 17.954C6.66022 18.0476 6.54547 18.0976 6.40947 18.104C6.27364 18.1105 6.15256 18.0605 6.04622 17.954C5.93972 17.8476 5.88647 17.7297 5.88647 17.6002C5.88647 17.4707 5.93972 17.3528 6.04622 17.2465L11.2922 12.0002L6.04622 6.75397C5.95256 6.66047 5.90256 6.54572 5.89622 6.40972C5.88972 6.27388 5.93972 6.1528 6.04622 6.04647C6.15256 5.93997 6.27047 5.88672 6.39997 5.88672C6.52947 5.88672 6.64739 5.93997 6.75372 6.04647L12 11.2925L17.2462 6.04647C17.3397 5.9528 17.4545 5.9028 17.5905 5.89647C17.7263 5.88997 17.8474 5.93997 17.9537 6.04647C18.0602 6.1528 18.1135 6.27072 18.1135 6.40022C18.1135 6.52972 18.0602 6.64764 17.9537 6.75397L12.7077 12.0002L17.9537 17.2465C18.0474 17.34 18.0974 17.4547 18.1037 17.5907C18.1102 17.7266 18.0602 17.8476 17.9537 17.954C17.8474 18.0605 17.7295 18.1137 17.6 18.1137C17.4705 18.1137 17.3526 18.0605 17.2462 17.954L12 12.708Z' fill='%231D1D1D'/%3E%3C/svg%3E%0A"); 
    }

    header .tnb {
        display: none;
        position: absolute;
        left: 20px;
        top: 40px;
        color: #3d3d3d;
    }
    header .tnb .lang {
        display: block;
        padding-left: 18px;
        margin-right: 20px;
        font-weight: 500;
        position: relative;
    }
    header .tnb .lang::before {
        position: absolute;
        left: 0;
        top: 0;
        width: 16px;
        height: 16px;
        content: "";
        background-position: center center;
        background-repeat: no-repeat;
        background-size: contain;
        background-image: url("data:image/svg+xml,%3Csvg width='16' height='16' viewBox='0 0 16 16' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M11.3333 11.809V13.4333C11.3333 13.5282 11.3015 13.6075 11.2378 13.6712C11.1742 13.7348 11.0949 13.7667 11 13.7667C10.9051 13.7667 10.8258 13.7348 10.7622 13.6712C10.6985 13.6075 10.6667 13.5282 10.6667 13.4333V11.282C10.6667 11.1068 10.7254 10.9604 10.843 10.843C10.9604 10.7254 11.1068 10.6667 11.282 10.6667H13.4333C13.5282 10.6667 13.6075 10.6985 13.6712 10.7622C13.7348 10.8258 13.7667 10.9051 13.7667 11C13.7667 11.0949 13.7348 11.1742 13.6712 11.2378C13.6075 11.3015 13.5282 11.3333 13.4333 11.3333H11.7923L13.8692 13.4103C13.9316 13.4727 13.9628 13.5485 13.9628 13.6378C13.9628 13.7272 13.9316 13.8043 13.8692 13.8692C13.8043 13.9427 13.725 13.9773 13.6313 13.973C13.5378 13.9688 13.4586 13.9342 13.3937 13.8692L11.3333 11.809ZM8 14C7.17178 14 6.39272 13.8421 5.66283 13.5263C4.93294 13.2104 4.29789 12.7824 3.75767 12.2423C3.21756 11.7021 2.78956 11.0671 2.47367 10.3372C2.15789 9.60728 2 8.82822 2 8C2 7.17178 2.15789 6.39272 2.47367 5.66283C2.78956 4.93295 3.21756 4.29789 3.75767 3.75767C4.29789 3.21756 4.93294 2.78956 5.66283 2.47367C6.39272 2.15789 7.17178 2 8 2C8.82822 2 9.60728 2.15789 10.3372 2.47367C11.0671 2.78956 11.7021 3.21756 12.2423 3.75767C12.7824 4.29789 13.2104 4.93295 13.5263 5.66283C13.8421 6.39272 14 7.17178 14 8C14 8.11967 13.9972 8.24617 13.9917 8.3795C13.9861 8.51283 13.9735 8.63933 13.9538 8.759C13.9402 8.85389 13.8987 8.93061 13.8295 8.98917C13.7603 9.04772 13.6769 9.077 13.5795 9.077C13.4957 9.077 13.4227 9.04194 13.3603 8.97183C13.2979 8.90172 13.2735 8.8205 13.2872 8.72817C13.3094 8.6085 13.3227 8.48717 13.327 8.36417C13.3312 8.24106 13.3333 8.11967 13.3333 8C13.3333 7.735 13.3152 7.47217 13.2788 7.2115C13.2425 6.95083 13.1837 6.69228 13.1025 6.43583H10.4128C10.4633 6.69228 10.4989 6.95083 10.5198 7.2115C10.5408 7.47217 10.5513 7.735 10.5513 8C10.5513 8.11967 10.5492 8.2455 10.5448 8.3775C10.5406 8.50961 10.5329 8.6355 10.5218 8.75517C10.5082 8.85006 10.4688 8.92739 10.4038 8.98717C10.3388 9.04706 10.2589 9.077 10.1642 9.077C10.0804 9.077 10.0045 9.04322 9.9365 8.97567C9.86861 8.90811 9.8415 8.82817 9.85517 8.73583C9.86628 8.61617 9.87394 8.49356 9.87817 8.368C9.8825 8.24233 9.88467 8.11967 9.88467 8C9.88467 7.735 9.87417 7.47217 9.85317 7.2115C9.83228 6.95083 9.79661 6.69228 9.74617 6.43583H6.25383C6.20339 6.69228 6.16772 6.95083 6.14683 7.2115C6.12583 7.47217 6.11533 7.735 6.11533 8C6.11533 8.265 6.12583 8.52783 6.14683 8.7885C6.16772 9.04917 6.20339 9.30772 6.25383 9.56417H8.58967C8.68456 9.56417 8.76383 9.596 8.8275 9.65967C8.89117 9.72333 8.923 9.80261 8.923 9.8975C8.923 9.99228 8.89117 10.0716 8.8275 10.1353C8.76383 10.199 8.68456 10.2308 8.58967 10.2308H6.41283C6.57183 10.8026 6.78039 11.3507 7.0385 11.875C7.29661 12.3993 7.61711 12.8872 8 13.3385C8.12822 13.3385 8.25644 13.337 8.38467 13.334C8.51289 13.331 8.63678 13.3197 8.75633 13.3C8.84267 13.2863 8.91706 13.3101 8.9795 13.3712C9.04183 13.4323 9.073 13.506 9.073 13.5923C9.073 13.6898 9.04656 13.7709 8.99367 13.8358C8.94067 13.9008 8.86672 13.9402 8.77183 13.9538C8.65217 13.9735 8.52567 13.9861 8.39233 13.9917C8.259 13.9972 8.12822 14 8 14ZM2.8975 9.56417H5.58717C5.53672 9.30772 5.50106 9.04917 5.48017 8.7885C5.45917 8.52783 5.44867 8.265 5.44867 8C5.44867 7.735 5.45917 7.47217 5.48017 7.2115C5.50106 6.95083 5.53672 6.69228 5.58717 6.43583H2.8975C2.81628 6.69228 2.7575 6.95083 2.72117 7.2115C2.68483 7.47217 2.66667 7.735 2.66667 8C2.66667 8.265 2.68483 8.52783 2.72117 8.7885C2.7575 9.04917 2.81628 9.30772 2.8975 9.56417ZM7.15133 13.2642C6.81456 12.8094 6.52844 12.3271 6.293 11.8173C6.05744 11.3074 5.86833 10.7786 5.72567 10.2308H3.16917C3.54272 11.0367 4.08078 11.7087 4.78333 12.2468C5.48589 12.7848 6.27522 13.1239 7.15133 13.2642ZM3.16917 5.76917H5.72567C5.85133 5.21283 6.02972 4.67972 6.26083 4.16983C6.49206 3.66006 6.78889 3.18206 7.15133 2.73583C6.26667 2.8675 5.47522 3.20233 4.777 3.74033C4.07867 4.27844 3.54272 4.95472 3.16917 5.76917ZM6.41283 5.76917H9.58717C9.43672 5.19739 9.22606 4.65361 8.95517 4.13783C8.68417 3.62206 8.36578 3.12994 8 2.6615C7.62567 3.11283 7.30517 3.60067 7.0385 4.125C6.77183 4.64933 6.56328 5.19739 6.41283 5.76917ZM10.2743 5.76917H12.8308C12.4573 4.95472 11.9213 4.27633 11.223 3.734C10.5248 3.19167 9.73333 2.85894 8.84867 2.73583C9.18544 3.19061 9.46517 3.67506 9.68783 4.18917C9.9105 4.70328 10.106 5.22994 10.2743 5.76917Z' fill='%233D3D3D'/%3E%3C/svg%3E%0A");
    }
    header .tnb .atera {
        width: 96px;
        height: 21px;
        line-height: 21px;
        border: 1px solid rgba(61,61,61,0.6);
        border-radius: 20px;
        padding-left: 16px;
        position: relative;
    }
    header .tnb .atera::before {
        position: absolute;
        right: 13px;
        top: 3px;
        width: 15px;
        height: 15px;
        content: "";
        background-position: center center;
        background-repeat: no-repeat;
        background-size: contain;
        background-image: url("data:image/svg+xml,%3Csvg width='15' height='15' viewBox='0 0 15 15' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M3.50969 12.5C3.22198 12.5 2.98177 12.4036 2.78906 12.2109C2.59635 12.0182 2.5 11.778 2.5 11.4903V3.50969C2.5 3.22198 2.59635 2.98177 2.78906 2.78906C2.98177 2.59635 3.22198 2.5 3.50969 2.5H6.70672C6.79568 2.5 6.87 2.52984 6.92969 2.58953C6.98938 2.64922 7.01922 2.72354 7.01922 2.8125C7.01922 2.90146 6.98938 2.97578 6.92969 3.03547C6.87 3.09516 6.79568 3.125 6.70672 3.125H3.50969C3.41344 3.125 3.32526 3.16505 3.24516 3.24516C3.16505 3.32526 3.125 3.41344 3.125 3.50969V11.4903C3.125 11.5866 3.16505 11.6747 3.24516 11.7548C3.32526 11.8349 3.41344 11.875 3.50969 11.875H11.4903C11.5866 11.875 11.6747 11.8349 11.7548 11.7548C11.8349 11.6747 11.875 11.5866 11.875 11.4903V8.29328C11.875 8.20432 11.9048 8.13 11.9645 8.07031C12.0242 8.01062 12.0985 7.98078 12.1875 7.98078C12.2765 7.98078 12.3508 8.01062 12.4105 8.07031C12.4702 8.13 12.5 8.20432 12.5 8.29328V11.4903C12.5 11.778 12.4036 12.0182 12.2109 12.2109C12.0182 12.4036 11.778 12.5 11.4903 12.5H3.50969ZM11.875 3.56734L6.30766 9.13469C6.24922 9.19312 6.1775 9.22437 6.0925 9.22844C6.0076 9.2324 5.93187 9.20115 5.86531 9.13469C5.79885 9.06812 5.76562 8.99437 5.76562 8.91344C5.76562 8.8325 5.79885 8.7588 5.86531 8.69234L11.4327 3.125H9.0625C8.97354 3.125 8.89922 3.09516 8.83953 3.03547C8.77984 2.97578 8.75 2.90146 8.75 2.8125C8.75 2.72354 8.77984 2.64922 8.83953 2.58953C8.89922 2.52984 8.97354 2.5 9.0625 2.5H11.9952C12.1403 2.5 12.2607 2.54786 12.3564 2.64359C12.4521 2.73932 12.5 2.85974 12.5 3.00484V5.9375C12.5 6.02646 12.4702 6.10078 12.4105 6.16047C12.3508 6.22016 12.2765 6.25 12.1875 6.25C12.0985 6.25 12.0242 6.22016 11.9645 6.16047C11.9048 6.10078 11.875 6.02646 11.875 5.9375V3.56734Z' fill='%233D3D3D'/%3E%3C/svg%3E%0A");
    }

    /* 메뉴가 열렸을 때 */
    header.menu_open .gnb .gnb_open {
        display: none;
    }
    header.menu_open .gnb .gnb_wrap {
        display: block;
    }
    header.menu_open .gnb .gnb_close {
        display: block;
    }
    header.menu_open .tnb {
        display: flex;
    }
}
@media screen and (max-width:768px){
    header {
        height: 50px;
    }
    header .logo {
        margin-top: 13px;
    }
    header .logo a {
        width: 80px;
        height: 32px;
    }
    header .gnb .gnb_open::before {
        width: 26px;
        height: 26px;
    }
    header .gnb .gnb_wrap ul.depth1 {
        margin-top: 50px;
        height: calc(100vh - 50px);
    }

}




footer {
    height: 200vh;
}