@import url(default.css);
@import url(fonts.css);
@import url(common.css);

.visual h2 {
    display: none;
}
.visual ul li {
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh; /* 해당 브라우저의 높이 100%만큼 */
    min-height: 510px; /* 브라우저의 최소 높이만큼
                          브라우저 높이가 줄어들었을 때 글자가 잘려나가는 것을 막음 */
    color: rgba(255,255,255,0.8);
    text-align: center;
}
.visual ul li.bg1 {
    background-image: url(../images/visual1.png);
}
.visual ul li.bg2 {
    background-image: url(../images/visual2.png);
}
.visual ul li.bg3 {
    background-image: url(../images/visual3.png);
}
.visual ul li h3 {
    font-weight: 500;
    font-size: 50px;
    line-height: 1.1;
    color: #fff;
    margin: 66vh 0 0 0;
}
.visual ul li p {
    font-size: 16px;
    margin: 16px 0 0 0;
}